<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/fdec90a950.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <!-- <script>
      const openSidebar = (event) => {
         w3_open();
         document.getElementById('openBar').style.display = 'none';
         document.getElementById('closeBar').style.display = 'block'; 
      }
      const closeSidebar = (event) => {
         w3_close();
         document.getElementById('closeBar').style.display = 'none';  
         document.getElementById('openBar').style.display = 'block'; 
      }
   </script> -->

  <section class="header" style="position: fixed !important;z-index:10;width:100% !important">
    <a href="/">
      <div class="title">
        <!-- <img src="/img/users/favicon.png" alt="Logo" class="logo" /> -->

        <!-- <h2 class="heading-normal">Affiliate</h2> -->
        <!-- <img src="/img/users/sidebar.svg" alt="Logo" class="Sidebar_logo" /> -->
        <h2 class="Navb_logo-text">Your Deal</h2>
      </div>
    </a>



    <form action="/" method="GET" class="search" id="searchx">
      
      <input type="text" name="search" id="search" placeholder="Type to search" class="search__input" />

      <button class="search__button">
        <i class="fas fa-search search-icon"></i>
      </button>
      <select class="categories_dropdown_nv">
        <option value="0">Categories</option>
        <option value="1">Category 01</option>
        <option value="1">Category 02</option>
      </select>
      <!-- <select class="sort-drop" name="sort" onchange="this.form.submit()">
          <option selected disabled value="empty"
            >--Choose Parameter--</option
          >
          <option value="mrp">Price</option>
          <option value="trendRatio">Views</option>
        </select> -->
      <!-- <div>SortBy</div> -->
    </form>

    <nav class="user-nav">

      <p><time class="timeago" datetime="2011-12-17T09:24:17Z"> </time></p>
      <!-- <div> -->
      <!-- <i class="fas fa-th"></i> -->

      <!-- <div style="margin: 5px; display: inline;">CATEGORIES</div> -->

      <!-- <img src="/img/users/da.svg" alt="Logo" class="catgories_logo" /> -->
      <!-- <img src="down_arrow.png"> -->
      <!-- </div> -->

      <% if(user){ %>
      <a href="/newDeal">
        <div class="postDeal" style="display: flex; align-items: center; ">

          <!-- D changes -->

          <!-- <i class="fas fa-plus"></i> -->
          <i class="far fa-plus-square"></i>

          <!-- D changes // -->

          <div class="titles_nv">Post</div>
        </div>
      </a>
      <% }else{ %>
      <a href="#" id="like_deal_no">
        <div class="postDeal" style="display: flex; align-items: center; ">

          <i class="far fa-plus-square"></i>
          <!-- <i class="fas fa-plus-square"></i> -->
          <div class="titles_nv">Post</div>
        </div>
      </a>
      <% } %>

      <div class="titles_nv"><i class="fas fa-heart"></i>Wishlist</div>
      <% if (user) { %>
      <a href="" id="logout">
        <div class="postDeal" style="display: flex; align-items: center; ">
          <!-- <i class="fas fa-plus"></i> -->
          <i class="fas fa-sign-out-alt"></i>
          <div class="titles_nv">Logout</div>
        </div>
      </a>
      <% } else { %>
      <a href=<%=` /signup `%> id="signup">
        <div class="postDeal" style="display: flex; align-items: center; ">
          <!-- <i class="fas fa-plus"></i> -->
          <div class="titles_nv"> <i class="fas fa-user-plus"></i>Sign-up</div>
        </div>
      </a>
      <a href=<%= `/login` %> id="login">
        <div class="postDeal" style="display: flex; align-items: center; ">
          <!-- <i class="fas fa-plus"></i> -->
          <div class="titles_nv"><i class="fas fa-user-shield"></i>Login</div>
        </div>
      </a>
      <% } %>
      <% if (user) { %>
      <!-- <div class="user-nav__icon-box">
        <i class="fas fa-bell"></i>
        <span class="user-nav__notification">7</span>
      </div> -->

      <% } %>
      <!-- D changes // -->

      <div class="user-nav__user">
        <% if (user) { %> <% if (user.photo) { %>
        <nav role="navigation">
          <ul>
            <li><a href=<%= `/member/${user.id}` %>><img src=<%=`/img/users/${user.photo}` %> alt="User photo"
                  class="user-nav__user-photo" /></a>
              <ul class="dropdown" style="background-color: black;">
                <li><a href="#">Sub-1</a></li>
                <li><a href="#">Sub-2</a></li>
                <li><a href="#">Sub-3</a></li>
              </ul>
            </nav>
               <% } else { %><nav role="navigation">
                <ul>
                  <li><a href=<%= `/member/${user.id}` %> ><img
                    data-name=<%=user.name %> data-color="#85e0ce" class="profile
                    user-nav__user-photo"/></a>
                    <ul class="dropdown" style="background-color: black;">
                      <li><a href="#">Sub-1</a></li>
                      <li><a href="#">Sub-2</a></li>
                      <li><a href="#">Sub-3</a></li>
                    </ul>
                  </li>
                </ul>
              </nav> <% } %> <% } else { %>
          
          <% } %>
        </div>

      <!-- <div style="margin: 5px;">SIGNUP</div>
        <div style="margin: 5px;">LOGIN</div> -->

      <!-- D changes // -->


    </nav>
  </section>
  <script src="/vendor/initial.min.js"></script>
  <script>
    $(".profile").initial();
  </script>
  <script src="/js/logout.js"></script>
  <!-- <script src="/vendor/jquery.bootcomplete.js"></script>

    <script>
      (function($) {
        $(function() {
          $("#search").bootcomplete({
            url: "/search",
            method: "get",
          });
        });
      })(jQuery);
    </script> -->
  <!-- <script>
      $(function() {
        $("#search").autocomplete({
          source: function(req, res) {
            $.ajax({
              url: "/search",
              dataType: "json",
              type: "GET",
              data: req,
              success: function(data) {
                console.log(data);
              },
              error: function(err) {
                console.log(err.status);
              },
            });
          },
          minLength: 1,
          select: function(event, ui) {
            if (ui.item) {
              $("#search").text(ui.item.label);
            }
          },
        });
      });
    </script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    $(function () {
      $("#search").autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "/search",
            type: "GET",
            data: request, // request is the value of search input
            success: function (data) {
              // Map response values to fiedl label and value
              response(
                $.map(data, function (el) {
                  return {
                    label: el.dealName,
                    value: el._id,
                  };
                })
              );
            },
          });
        },

        // The minimum number of characters a user must type before a search is performed.
        minLength: 2,

        // set an onFocus event to show the result on input field when result is focused
        focus: function (event, ui) {
          this.value = ui.item.label;
          // Prevent other event from not being execute
          event.preventDefault();
        },
        select: function (event, ui) {
          // Prevent value from being put in the input:
          this.value = ui.item.label;
          // Set the id to the next input hidden field
          $(this)
            .next("input")
            .val(ui.item.value);
          // Prevent other event from not being execute
          event.preventDefault();
          // optionnal: submit the form after field has been filled up
          $("#searchx").submit();
        },
      });
    });
  </script>


  <div class="popup" id="popupLike">
    <!-- <div class="bg-video">
      <video  class="bg-video_content" autoplay loop muted>
          <source src="sass/img/coverr-philippines-spices-1559212666899.mp4" type="video/mp4">
      </video>
  </div> -->
    <div class="popup_content">


      <div class="popup_left"><img src="/images/32-kjb-1409-dnft-gry-killer-original-imafz9xjgkhguknc.jpeg" alt="hi"
          class="popup_img">
        <!-- <img src="/images/32-kjb-1409-dnft-gry-killer-original-imafz9xjgkhguknc.jpeg" alt="hi" class="popup_img"> -->
      </div>
      <div class="popup_right">
        <div class="popup_cross" id="popup_crosslike">&times;</div>
        <h1 class="heading-secondary popup_heading center">about us</h1>
        <p class="paragraph popup_paragraph">Thapar Food Festival is the most magnificent and awe-inspiring festivity
          ever happened, one-of-a-kind. Keeping the sky as the limit, we always venture hard to content the ever-growing
          foodie in you. TFF is not just a festival, but also a mission to let food break barriers and make everyone
          happy on a common stage. We are a journey, ever-growing indulging masses in merry-making. Come, experience
          edible infinity.</p>

      </div>

      <button id="like_btn_deal">Signup/Login</button>
    </div>
  </div>

  <script>

    document.getElementById("like_deal_no").addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById('popupLike').style.display = 'block';
    });

  </script>
  <script>

      // document.getElementById("like_deal").addEventListener("click", (e) => {
      //   e.preventDefault();

      //   location.assign("/newDeal");
      // });

  </script>
  <script>

    document.getElementById("popup_crosslike").addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById('popupLike').style.display = 'none';
    });

  </script>
  <script>

    document.getElementById("like_btn_deal").addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById('popupLike').style.display = 'none';
      location.assign('/signup');
    });

  </script>


</body>

</html>