<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <!-- <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet"></link> -->
  <meta
      name="google-signin-client_id"
      content="881941748196-9v850vpb75a5ab8u2ii0nouo84u6lee5.apps.googleusercontent.com"
    />
  <script src="https://kit.fontawesome.com/fdec90a950.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> 
  
 

</head>

<body>
  <section class="header" style=" position:fixed">
    <div
      id="mySidenav"
      class="sidenav"
      style="z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999"
    >
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <!-- <h3 class="nav_grabzy">Grabzy</h3> -->

      <% if (user) { %>
        <% if (user.photo) { %>
          <a href=<%= `/member/${user.id}` %>>
            <img style="margin-top: 0rem;" src=<%=`/img/users/${user.photo}` %> alt="User Photo">
            <div class="sidebar_username"><%= user.name %></div>
          </a>
          <div class="navigation_link navigation_item">
            <a href=<%= `/member/${user.id}` %>><i class="small-sidebar fas fa-user"></i> Profile</a>
            <a href="/updateUserSettings"><i class="small-sidebar fas fa-user-edit font_icon" style="color:white;"></i> Edit Profile</a>
            <a onclick="loca();signOut()"><i class="small-sidebar fas fa-sign-out-alt font_icon" style="color:white;"></i> Logout</a>
          </div>
        <% } else { %>
          <a href=<%= `/member/${user.id}` %>>
            <img style="margin-top: 0rem;" data-name=<%=user.name %> data-color="#85e0ce" class="profile user-nav__user-photo">
            <div class="sidebar_username"><%= user.name %></div>
          </a>
          <div class="navigation_link navigation_item">
            <a href=<%= `/member/${user.id}` %>><i class="small-sidebar fas fa-user"></i> Profile</a>
            <a href="/updateUserSettings"><i class="small-sidebar fas fa-user-edit font_icon" style="color:white;"></i> Edit Profile</a>
            <a onclick="loca();signOut()"><i class="small-sidebar fas fa-sign-out-alt font_icon" style="color:white;"></i> Logout</a>
          </div>
        <% } %>
      <% } %>

      <hr>

      <div class="navigation_link navigation_item">
        <a href="/" onclick="closeNav()"><i class="small-sidebar fas fa-h-square font_icon"></i> Home</a>
        <a href="../trending" onclick="closeNav()"><i class="small-sidebar fas fa-fire font_icon" style="color:white;"></i> Hot Deals</a>
        <a href="../subscriptions" onclick="closeNav()"><i class="small-sidebar fas fa-user font_icon" style="color:white;"></i> Subscriptions</a>

        <% if (user) { %>
          <a href=<%=`/member/${user._id}`%> ><i class="small-sidebar fas fa-fire font_icon" style="color:white;"></i> Your Deals</a>
        <% } %>
       
        <a href="/savedDeals" onclick="closeNav()"><i class="small-sidebar fas fa-heart font_icon"></i> Favourites</a>
        <a href="../liveDeal" onclick="closeNav()"><i class="small-sidebar fas fa-clock font_icon"></i> Live Deals</a>
      </div>
      
      <div class="nav_logos">
        <% if (user) { %>
          <div class="navigation_link navigation_item">
            <p class="small_sidebar_cat1">  Categories </p>
            <a href="/category/electronics" onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Electronics </a>
            <a href="/category/menFashion"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Men's Fashion </a>
            <a href="/category/womenFashion"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Women's Fashion </a>
            <a href="/category/homeKitchen"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Home & Kitchen </a>
            <a href="/category/beauty"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Beauty </a>
            <a href="/category/personalCare" style="border-bottom:1px solid rgb(212,211,211);margin-right:0.2rem ;margin-bottom:0.7rem"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Personal Care </a>
          </div>

          <div class="navigation_link navigation_item">
          <a href="#"  onclick="about()"><i class="small-sidebar far fa-arrow-alt-circle-right font_icon"></i> About Us </a>
          <a href="#"  onclick="contact()"><i class="small-sidebar far fa-arrow-alt-circle-right font_icon"></i> Contact Us </a>
          <a href="#"  onclick="terms()"><i class="small-sidebar far fa-arrow-alt-circle-right font_icon"></i> Terms & Conditions </a>
          <a href="#" style="border-bottom:1px solid rgb(212,211,211);margin-right:0.2rem ;margin-bottom:0.7rem" onclick="privacy()"><i class="small-sidebar far fa-arrow-alt-circle-right font_icon"></i> Privacy Policy </a>
        </div>
        <% } else {%>
          <h3 class="follow_us">Follow Us On</h3>
          <h3 class="signin-sub_text heading-normal" style="color: white;">
            Sign in to like deals subscribe and earn
          </h3>
          <div class="deal-deets_buttons" style=" font-size: 1rem; border-bottom:1px solid rgb(212,211,211);margin-right:0.2rem ;margin-bottom:0.7rem;">
            <a href="/signup" class="scale_button1 sidebar_button" style="height: 7.71rem"> <i
              class="fas fa-user-plus "
            ></i> Sign Up </a>
          </div>
        
          <div class="navigation_link navigation_item">
            <p class="small_sidebar_cat1">  Categories </p>
            <a href="/category/electronics" onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Electronics </a>
            <a href="/category/menFashion"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Men's Fashion </a>
            <a href="/category/womenFashion"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Women's Fashion </a>
            <a href="/category/homeKitchen"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Home & Kitchen </a>
            <a href="/category/beauty"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Beauty </a>
            <a href="/category/personalCare" style="border-bottom:1px solid rgb(212,211,211);margin-right:0.2rem ;margin-bottom:0.7rem"  onclick="closeNav()"><i class="small-sidebar fas fa-shopping-bag font_icon"></i> Personal Case </a>
          </div>

          <div class="navigation_link navigation_item">
          <a href="#"  onclick="about()"><i class="small-sidebar far fa-arrow-alt-circle-right font_icon"></i> About Us </a>
          <a href="#"  onclick="contact()"><i class="small-sidebar far fa-arrow-alt-circle-right font_icon"></i> Contact Us </a>
          <a href="#"  onclick="terms()"><i class="small-sidebar far fa-arrow-alt-circle-right font_icon"></i> Terms & Conditions </a>
          <a href="#" style="border-bottom:1px solid rgb(212,211,211);margin-right:0.2rem ;margin-bottom:0.7rem" onclick="privacy()"><i class="small-sidebar far fa-arrow-alt-circle-right font_icon"></i> Privacy Policy </a>
        </div>



        <% } %>
        ></a>
      </div>
    </div>
    <span
      class="nav_logo"
      style="font-size:20px; cursor:pointer; color:#FFF8DA; position: fixed"
      onclick="openNav()"
      >&#9776;
    </span>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("nav_logo").style.visibility = "hidden";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
    <a href="/" class="yourDeal">
      <!-- <div class="title">
        <h2 class="Navb_logo-text">Grabzy</h2>
      </div> -->
      <img src="/img/grabzylogo.png" alt="Grabzy Logo" class="nav_grabzy">
    </a>

    <div class="titles">
      <!-- <div class="titles_nv"> -->
        <!-- <div>Live Deals</div> -->
      <!-- </div> -->
      <% if(user) { %>
        <% if (user.role == 'admin') { %>
          <div class="titles_nv">
            <!-- <div class="user-nav__user"> -->
              <nav role="navigation">
                <ul>
                  <li style="font-size:1.75rem; font-family:Montserrat;"> Post
                    <ul class="dropdown">
                      <li><a href=<%= `/newDeal` %>>Deal</a></li>
                      <li><a href="/pageDeal">Page</a></li>
                      <li><a href="/newsDeal">News</a></li>
                    </ul>
                  </nav>
               
            <!-- <a href="/newDeal"><div style="color: white;">Post A Deal</div></a> -->
          </div>
         
        <% } %>
      <!-- <div
      id="GoogeSigninButton"
      data-height="40"
      data-width="372"
      data-longtitle="true"
      data-theme="dark"
      data-onsuccess="onSignIn"
      class="g-signin2"
      style="margin-top: 1.5rem;display:none;visibility:hidden"
    ></div> -->

      <% } else { %>
        <!-- <div class="titles_nv" id="post_no_user">
          <div>Post A Deal</div>
        </div> -->
      <% } %>
      
      <div class="popup" id="popup_post">
        <div class="popup_right">
            <div class="popup_cross" id="popup_cross_post" style="font-size: 3rem; position: absolute; top: 0; right: 1.5%; line-height: 1;">&times;</div>
        </div>
        <div class="popup_content" style="font-size: 2rem; text-align: center;">
            Please signup / login to post a deal ?
            <br>
            <a href="/signup"><button id="go_sign_post" style="margin: 2rem; border: none; background-color: red; padding: 1rem 3rem; color: white; border-radius: 5.3%">Sign Up</button></a><button id="popup_cross_cancel_post" style="margin: 2rem; border: none; background-color: grey; padding: 1rem 3rem; color: white; border-radius: 5.3%; opacity: 0.68">Cancel</button>
        </div>
    </div>

    <script>
      document.getElementById('post_no_user').addEventListener('click', e => {
        document.getElementById('popup_post').style.display = 'block';
      });
      document.getElementById('popup_cross_cancel_post').addEventListener('click', e => {
            document.getElementById('popup_post').style.display = 'none';
        });
        document.getElementById('popup_cross_post').addEventListener('click', e => {
            document.getElementById('popup_post').style.display = 'none';
        });
    </script>
    </div>


    <div class="search_nv">
    <form action="/" method="GET" class="search" id="searchx">
      <select class="categories_dropdown_nv" style="display: none;">
        <option value="0" disabled>Categories</option>
        <option value="1"><a href=<%= `/category/electronics` %>>Electronics</a></option>
        <option value="1"><a href=<%= `/category/electronics` %>>Men's Fashion</a></option>
        <option value="1"><a href=<%= `/category/electronics` %>>Women's Fashion</a></option>
        <option value="1"><a href=<%= `/category/electronics` %>>Home and kitchen</a></option>
        <option value="1"><a href=<%= `/category/electronics` %>>Beauty</a></option>
        <option value="1"><a href=<%= `/category/electronics` %>>Personal Care</a></option>
      </select>
      <i class="fa fa-arrow-left backSearch" style="display: none; color: white;"></i>
      <input type="text" name="search" id="search" placeholder="Search by name" class="search__input" />

      <button class="search__button">
        <i class="fas fa-search search-icon"></i>
      </button>
    </form>
  </div>
  <div class="search_ii">
    <i class="fas fa-search search_i" style="color: #FFF8DA;"></i>
  </div>
  <script>
      document.querySelector('.search_i').addEventListener('click', () => { 
      document.querySelector(".search").style.display = "block";
      document.querySelector(".backSearch").style.display = "inline-block";
      document.querySelector(".search").style.visibility = "visible";
      document.querySelector(".search__input").style.borderRadius = "100px";
      document.querySelector(".search__input").style.width = "44rem";
      document.querySelector(".Navb_logo-text").style.display = "none";
      document.querySelector(".categories_dropdown_nv").style.display = "none";
      document.querySelector(".yourDeal").style.display = "none";
      document.querySelector(".titles").style.display = "none";
      document.querySelector(".nav_logo").style.display = "none";
      document.querySelector(".search_nv").style.marginLeft = "35rem";
      document.querySelector(".search_i").style.display = "none";
      document.querySelector(".search_ii").style.display = "none";
      document.querySelector(".search_nv").style.display = "block";
    });

    document.querySelector('.backSearch').addEventListener('click', () => { 
      document.querySelector(".search").style.display = "none";
      document.querySelector(".backSearch").style.display = "none";
      document.querySelector(".search_nv").style.display = "none";
      document.querySelector(".search").style.visibility = "visible";
      document.querySelector(".search__input").style.borderRadius = "100px";
      document.querySelector(".search__input").style.width = "44rem";
      document.querySelector(".Navb_logo-text").style.display = "flex";
      document.querySelector(".Navb_logo-text").style.marginLeft = "0";
      document.querySelector(".categories_dropdown_nv").style.display = "none";
      document.querySelector(".yourDeal").style.display = "flex";
      document.querySelector(".titles").style.display = "none";
      document.querySelector(".nav_logo").style.display = "inline-block";
      document.querySelector(".search_nv").style.marginLeft = "35rem";
      document.querySelector(".search_i").style.display = "inline-block";
      document.querySelector(".search_ii").style.display = "inline-block";
      document.querySelector(".search_i").style.marginRight = "-5rem";
    })
  </script>
    <nav class="user-nav">      
      <% if (user) { %>
        <a class="titles_nv" href=<%=` /trending `%> id="signup">
          <div class="postDeal" style="display: flex; align-items: center; ">
            <div class="title-with-icon" style="margin-top: 0.32rem;"><i class="fas fa-fire" style="margin-bottom: 0.591rem; color: #FFF8DA; font-size:1.6rem;"></i>Hot</div>
          </div>
        </a>
        <a class="titles_nv" href="/liveDeal" id="signup">
          <div class="postDeal" style="display: flex; align-items: center; ">
            <div class="title-with-icon" style="margin-top: 0.32rem;"><i class="fas fa-plus" style="margin-bottom: 0.591rem;color: #FFF8DA; font-size:1.6rem;"></i>Live</div>
          </div>
        </a>
<% } else { %>
       
        <a class="titles_nv" href=<%=` /trending `%> id="signup">
          <div class="postDeal" style="display: flex; align-items: center; ">
            <div class="title-with-icon"><i class="fas fa-fire"  color: #FFF8DA; font-size:1.6rem;"></i>Hot</div>
          </div>
        <a class="titles_nv" href="/liveDeal" id="signup">
          <div class="postDeal" style="display: flex; align-items: center; ">
            <div class="title-with-icon"><i class="fas fa-plus" color: #FFF8DA; font-size:1.6rem;"></i>Live</div>
          </div>
        </a>  
      <a class="titles_nv" href=<%=` /signup `%> id="signup"> 
        <div class="postDeal" style="display: flex; align-items: center; ">
          <div class="title-with-icon" ><i class="fas fa-user-plus"  color: #FFF8DA; font-size:1.6rem;"></i>Sign Up</div>
        </div>
      </a>
      <% } %>

  <% if (user) { %> <% if (user.photo) { %>
    <div class="user-nav__user">
  <nav role="navigation">
    <ul>
      <li><a href=<%= `/member/${user.id}` %>><img style="margin-top: 0rem;" src=<%=`/img/users/${user.photo}` %> alt="User photo"
            class="user-nav__user-photo" /></a>
        <ul class="dropdown">
          <li><a href=<%= `/member/${user.id}` %>><i class="fas fa-user"></i>Profile</a></li>
          <li><a href="/updateUserSettings"><i class="fas fa-user-edit"></i>Edit Profile</a></li>
          <li><a onclick="loca();signOut()"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>
      </nav>
         <% } else { %>
        <nav role="navigation">
          <ul>
            <li><a href=<%= `/member/${user.id}` %> ><img style="margin-top: 0rem;"
              data-name=<%=user.name %> data-color="#85e0ce" class="profile
              user-nav__user-photo"/></a>
              <ul class="dropdown">
                <li><a href=<%= `/member/${user.id}` %>><i class="fas fa-user"></i>Profile</a></li>
                <li><a href="/updateUserSettings"><i class="fas fa-user-edit"></i>Edit Profile</a></li>
                <li><a onclick="loca();signOut()"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav> <% } %> 
        <% } else { %>
        <% } %>
      </nav>
    </div>
  </section>
<script>function loca(){
location.assign('/logout');  
} </script>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function() {
        console.log("User signed out.");
      });
    
    };
  </script>
  <script src="/vendor/initial.min.js"></script>
  <script>
    $(".profile").initial();
  </script>
  <script src="/js/logout.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function() {
      $("#search").autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "/search",
            type: "GET",
            data: request, // request is the value of search input
            success: function (data) {
              // Map response values to fiedl label and value
              response(
                $.map(data, function (el) {
                  return {
                    label: el.dealName,
                    value: el._id,
                  };
                })
              );
            },
          });
        },
        // The minimum number of characters a user must type before a search is performed.
        minLength: 3,
        // set an onFocus event to show the result on input field when result is focused
        focus: function (event, ui) {
          this.value = ui.item.label;
          // Prevent other event from not being execute
          event.preventDefault();
        },
        select: function (event, ui) {
          // Prevent value from being put in the input:
          this.value = ui.item.label;
          // Set the id to the next input hidden field
          $(this)
            .next("input")
            .val(ui.item.value);
          // Prevent other event from not being execute
          event.preventDefault();
          // optionnal: submit the form after field has been filled up
          $("#searchx").submit();
        },
      });
    });
  </script>

  <script>
    document.getElementById("like_deal_no").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popupLike').style.display = 'block';
    });
  </script>
  <script
  src="https://apis.google.com/js/platform.js?onload=init"
  async
  defer
></script>
<script src="/js/gSignup.js"></script>
  <script>
    document.getElementById("popup_crosslike").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popupLike').style.display = 'none';
    });
  </script>
  <script>
    document.getElementById("like_btn_deal").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popupLike').style.display = 'none';
      location.assign('/signup');
    });
  </script>
<script src="/js/gSignup.js"></script>
<script src="/vendor/initial.min.js"></script>
<script>
  $(".profile").initial();
</script>


</body>

</html>