<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
      name="google-signin-client_id"
      content="881941748196-g7mq7257r81aq3abb7k7e0np92rcioaf.apps.googleusercontent.com"
    />
  <script src="https://kit.fontawesome.com/fdec90a950.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
 <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  <title>Document</title>
</head>

<body>
  <section class="header" style=" position:fixed">
    <div
      id="mySidenav"
      class="sidenav"
      style="z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999"
    >
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <h3 class="nav_tff">Thapar Food Festival</h3>
      <div class="navigation_link navigation_item">
        <a href="#popup" onclick="closeNav()">About</a>
        <a href="events.html" onclick="closeNav()">Events</a>
        <a href="#section_pic" onclick="closeNav()">Sponsors</a>
        <a href="#popup4" onclick="closeNav()">Theme</a>
        <a href="#team_section" onclick="closeNav()">Gallery</a>
        <a href="coupons.html" onclick="closeNav()">Campaign</a>
      </div>
      <h3 class="follow_us">Follow Us On</h3>
      <div class="nav_logos">
        <% if (user) { %>
        <% } else {%>
          <h3 class="heading-normal" style="padding: 8px 8px 8px 16px; margin: 1rem 0.5rem 0.5rem 1.8rem; color: white;">
            Sign in to like deals subscribe and earn
          </h3>
          <div class="deal-deets_buttons" style="padding: 8px 8px 8px 28px; font-size: 1 rem; border-bottom:1px solid rgb(212,211,211);margin-right:0.2rem ;margin-bottom:0.7rem;">
            <a href="" class="sidebar_button" style="height: 7.71rem"> <i
              class="fas fa-user-plus "
            ></i>
           Sign Up</a>
            
          </div>
        <% } %>
        ></a>
      </div>
    </div>
    <span
      class="nav_logo"
      style="font-size:30px;cursor:pointer;color:white;position: fixed"
      onclick="openNav()"
      >&#9776;
    </span>

    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("nav_logo").style.visibility = "hidden";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
    <a href="/" class="yourDeal">
      <div class="title">
        <h2 class="Navb_logo-text">Your Deal</h2>
      </div>
    </a>

    <div class="titles">
      <div class="titles_nv">
        <div>Live Deals</div>
      </div>
      <% if(user) { %>
        <% if (user.role == 'admin') { %>
          <div class="titles_nv">
            <a href="/newDeal"><div style="color: white;">Post A Deal</div></a>
          </div>
         
        <% } %>
      <div
      id="GoogeSigninButton"
      data-height="40"
      data-width="372"
      data-longtitle="true"
      data-theme="dark"
      data-onsuccess="onSignIn"
      class="g-signin2"
      style="margin-top: 1.5rem;display:none;visibility:hidden"
    ></div>

      <% } else { %>
        <div class="titles_nv" id="post_no_user">
          <div>Post A Deal</div>
        </div>
      <% } %>
      
      <div class="popup" id="popup_post">
        <div class="popup_right">
            <div class="popup_cross" id="popup_cross_post" style="font-size: 3rem; position: absolute; top: 0; right: 1.5%; line-height: 1;">&times;</div>
        </div>
        <div class="popup_content" style="font-size: 2rem; text-align: center;">
            Please signup / login to post a deal ?
            <br>
            <a href="/signup"><button id="go_sign_post" style="margin: 2rem; border: none; background-color: red; padding: 1rem 3rem; color: white; border-radius: 5.3%">Sign Up</button></a><button id="popup_cross_cancel_post" style="margin: 2rem; border: none; background-color: grey; padding: 1rem 3rem; color: white; border-radius: 5.3%; opacity: 0.68">Cancel</button>
        </div>
    </div>

    <script>
      document.getElementById('post_no_user').addEventListener('click', e => {
        document.getElementById('popup_post').style.display = 'block';
      });
      document.getElementById('popup_cross_cancel_post').addEventListener('click', e => {
            document.getElementById('popup_post').style.display = 'none';
        });
        document.getElementById('popup_cross_post').addEventListener('click', e => {
            document.getElementById('popup_post').style.display = 'none';
        });
    </script>
    </div>


    <div class="search_nv">
    <form action="/" method="GET" class="search" id="searchx">
      <select class="categories_dropdown_nv">
        <option value="0" disabled>Categories</option>
        <option value="1">Electronics</option>
        <option value="1">Sports</option>
        <option value="1">Music</option>
        <option value="1">Women</option>
        <option value="1">Men</option>
      </select>
      <input type="text" name="search" id="search" placeholder="Search for awesome deals" class="search__input" />

      <button class="search__button">
        <i class="fas fa-search search-icon"></i>
      </button>
    </form>
  </div>
  <button class="search__button search_phone">
    <i class="fas fa-search search-icon search_i"></i>
  </button>
  <script>
      document.querySelector('.search_phone').addEventListener('click', () => { 
      document.querySelector(".search").style.display = "block";
      document.querySelector(".search").style.visibility = "visible";
      document.querySelector(".search__input").style.borderRadius = "100px";
      document.querySelector(".search__input").style.width = "44rem";
      document.querySelector(".Navb_logo-text").style.display = "none";
      document.querySelector(".categories_dropdown_nv").style.display = "none";
      document.querySelector(".yourDeal").style.display = "none";
      document.querySelector(".titles").style.display = "none";
      document.querySelector(".nav_logo").style.display = "none";
      document.querySelector(".search_nv").style.marginLeft = "35rem";
      document.querySelector(".search_phone").style.display = "none";
      document.querySelector(".search_phone").style.visibility = "hidden";
    })
  </script>
    <nav class="user-nav">      
      <% if (user) { %>
        <a class="titles_nv" href=<%=` /trending `%> id="signup">
          <div class="postDeal" style="display: flex; align-items: center; ">
            <div class="title-with-icon" style="margin-top: 0.32rem;"><i class="fas fa-fire" style="margin-bottom: 0.591rem; color: white; font-size:1.6rem;"></i>Hot Deals</div>
          </div>
        </a>
      <a class="titles_nv" href=<%=` /analytics `%> id="signup">
        <% if (user.role == 'admin') { %>
          <div class="postDeal" style="display: flex; align-items: center; ">
            <div class="title-with-icon" style="margin-top: 0.1rem;"><i class="fas fa-plus" style="margin: 0.591rem;color: white; font-size:1.6rem;"></i>Earn</div>
          </div>
        <% } %>
       
      <% } else { %>
       
        <a class="titles_nv" href=<%=` /trending `%> id="signup">
          <div class="postDeal" style="display: flex; align-items: center; ">
            <div class="title-with-icon"><i class="fas fa-fire" style="margin-bottom: 0.591rem; color: white; font-size:1.6rem;"></i>Hot Deals</div>
          </div>
        </a><a class="titles_nv" href=<%=` /analytics `%> id="signup">
          <div class="postDeal" style="display: flex; align-items: center; ">
            <div class="title-with-icon"><i class="fas fa-plus" style="margin-bottom: 0.591rem;color: white; font-size:1.6rem;"></i>Earn</div>
          </div>
        </a>  
      <a class="titles_nv" href=<%=` /signup `%> id="signup">
        <div class="postDeal" style="display: flex; align-items: center; ">
          <div class="title-with-icon"><i class="fas fa-user-plus" style="margin-bottom: 0.591rem;"></i>Sign Up</div>
        </div>
      </a>
      <% } %>

  <% if (user) { %> <% if (user.photo) { %>
    <div class="user-nav__user">
  <nav role="navigation">
    <ul>
      <li><a href=<%= `/member/${user.id}` %>><img style="margin-top: -0.95rem;" src=<%=`/img/users/${user.photo}` %> alt="User photo"
            class="user-nav__user-photo" /></a>
        <ul class="dropdown" style="background-color: black;">
          <li><a href=<%= `/member/${user.id}` %>>Profile</a></li>
          <li><a href="/updateUserSettings">Edit Profile</a></li>
          <li><a onclick="signOut()">Logout</a></li>
        </ul>
      </nav>
         <% } else { %>
        <nav role="navigation">
          <ul>
            <li><a href=<%= `/member/${user.id}` %> ><img style="margin-top: -0.95rem;"
              data-name=<%=user.name %> data-color="#85e0ce" class="profile
              user-nav__user-photo"/></a>
              <ul class="dropdown" style="background-color: black;">
                <li><a href=<%= `/member/${user.id}` %>>Profile</a></li>
                <li><a href="/updateUserSettings">Edit Profile</a></li>
                <li><a onclick="signOut();loca()">Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav> <% } %> 
        <% } else { %>
        <% } %>
      </nav>
    </div>
  </section>
<script>function loca(){
location.assign('/logout');  
} </script>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function() {
        console.log("User signed out.");
      });
    
    };
  </script>
  <script src="/vendor/initial.min.js"></script>
  <script>
    $(".profile").initial();
  </script>
  <script src="/js/logout.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    $(function() {
      $("#search").autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "/search",
            type: "GET",
            data: request, // request is the value of search input
            success: function (data) {
              // Map response values to fiedl label and value
              response(
                $.map(data, function (el) {
                  return {
                    label: el.dealName,
                    value: el._id,
                  };
                })
              );
            },
          });
        },
        // The minimum number of characters a user must type before a search is performed.
        minLength: 3,
        // set an onFocus event to show the result on input field when result is focused
        focus: function (event, ui) {
          this.value = ui.item.label;
          // Prevent other event from not being execute
          event.preventDefault();
        },
        select: function (event, ui) {
          // Prevent value from being put in the input:
          this.value = ui.item.label;
          // Set the id to the next input hidden field
          $(this)
            .next("input")
            .val(ui.item.value);
          // Prevent other event from not being execute
          event.preventDefault();
          // optionnal: submit the form after field has been filled up
          $("#searchx").submit();
        },
      });
    });
  </script>

  <script>
    document.getElementById("like_deal_no").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popupLike').style.display = 'block';
    });
  </script>
  <script
  src="https://apis.google.com/js/platform.js?onload=init"
  async
  defer
></script>
<script src="/js/gSignup.js"></script>
  <script>
    document.getElementById("popup_crosslike").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popupLike').style.display = 'none';
    });
  </script>
  <script>
    document.getElementById("like_btn_deal").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popupLike').style.display = 'none';
      location.assign('/signup');
    });
  </script>
<script src="/js/gSignup.js"></script>
<script src="/vendor/initial.min.js"></script>
<script>
  $(".profile").initial();
</script>


</body>

</html>