<!DOCTYPE html>
<html>
  <body>
    <div
      class="side_bar"
      style="position: fixed !important;"
      data-simplebar-timeout="10000"
      data-simplebar
    >
      <a href=<%= `/` %> >
        <div class="item2">
          <h4 class="heading-normal">
            <i class="fas fa-h-square font_icon"></i> Home </h4>
        </div>
      </a>
      <a href="../trending">
        <div class="item2">
          <h4 class="heading-normal">
            <i class="fas fa-fire font_icon"></i> Hot Deals
          </h4>
        </div>
      </a>
      <a href="../subscriptions">
        <div class="item2">
          <h4 class="heading-normal">
            <i class="fas fa-user font_icon"></i> Subscriptions
          </h4>
        </div>
      </a>
      <% if (user) { %>
        <a href=<%=`/member/${user._id}`%> >
          <div class="item2">
            <h4 class="heading-normal">
              <i class="fas fa-fire font_icon"></i> Your Deals
            </h4>
          </div>
        </a>
      <% } %>
      
      <a href="../likedDeals">
        <div class="item2">
          <h4 class="heading-normal">
            <i class="fas fa-heart font_icon"></i> Favourites
          </h4>
        </div>
      </a>
      <a href="../liveDeal">
        <div class="item2" style="border-bottom: 1px solid rgb(212, 211, 211);">
          <h4 class="heading-normal">
            <i class="fas fa-clock font_icon"></i> Live Deals
          </h4>
        </div>
      </a>

      <% if (user) { %>
         <% if (subs.length != 0 ) { %>
          <h3 class="heading-normal" style="margin: 1rem 0 0.5rem 1.8rem">
        SUBSCRIPTIONS
      </h3>
       <% var i = 0; %>
        
         
        <div style="border-bottom:1px solid rgb(212, 211, 211);">
       <% for( var sub of user.subscribers) {
     %> <% i++; %> <% if (sub.subscribedUser) { %>
     <a  href=<%=`/member/${sub.subscribedUser._id} `%> >
       <div class="subscriptions_mp item2">
         <% if (sub.subscribedUser.photo) { %>
           <img src=<%=`/img/users/${sub.subscribedUser.photo}`%> alt="hi" class="social_icons" /> <% } else { %> <img data-name=<%=sub.subscribedUser.name %> data-color="#85e0ce"
         class="profile social_icons"/> <% } %>
         <h4 class="heading-normal" style="margin-top:0.2rem">
           <%= sub.subscribedUser.name %>
         </h4>
       </div>
     </a>
     
     <% } %> <% if (i === 5){break;}%> <% } %> 
     </div>
     <div id="hide">
       <% var j = 0; %> <% for( var sub of user.subscribers ) { %> <% j++ %> <%
       if (j>5) { %>

       <div class="item2">
         <img src="/images/amazonOffer.jpeg" alt="hi" class="social_icons" />
         <h4 class="heading-normal" style="margin-top:0.5rem">
           <%= sub.subscribedUser.name %>
         </h4>
       </div>

       <% } %> <% } %>
     </div>
     
     <% if (user.subscribers.length >5) { %>
      <div id="showMore">
        <a
          href="#"
          class="w3-bar-item w3-button sidebar_link"
          style="border-bottom: 1px solid rgb(212, 211, 211);"
          id="more"
          onclick="read()"
        >
          <i
            class="fas fa-sort-down font_icon"
            id="down"
            style="color: red;margin:0 1.2rem 0 1rem;"
          ></i>
          <span class="heading-normal show_m"> Show More</span>
        </a>
      </div>
 
      <div id="showLess">
        <a
          href="#"
          class="w3-bar-item w3-button sidebar_link"
          style="border-bottom: 1px solid rgb(212, 211, 211);"
          id="more"
          onclick="read()"
        >
          <i
            class="fas fa-caret-up font_icon"
            id="up"
            style="color: red;margin: 0 1.2rem 0 1rem"
          ></i>
          <span class="heading-normal">Show Less</span>
        </a>
      </div>
      
     <% } %>
         <% } else {%>
           <h1 class="heading-normal" style="margin: 1rem 0 0.5rem 1.8rem;">
             SUBSCRIPTIONS
           </h1>
             <h3 class="heading-normal" style="margin: 0 auto; border-bottom: 1px solid rgb(212,211,211); color: rgb(100, 96, 96); padding-left: 1rem;">You have not yet subscribed to any user</h3>
         <% } %> 
      <% } else {%>
        <h3 class="heading-normal" style="margin: 1rem 0.5rem 0.5rem 1.8rem">
          Sign in to like deals subscribe and earn
        </h3>
        <div class="deal-deets_buttons" style="border-bottom:1px solid rgb(212,211,211);margin-right:0.2rem ;margin-bottom:0.7rem">
          <a href="" class="sidebar_button"> <i
            class="fas fa-user-plus "
          ></i>
         Sign Up</a>
          
        </div>
      <% } %>
    </div>

    <script src="/vendor/initial.min.js"></script>
    <script>
      $(".profile").initial();
    </script>
    <script type="text/javascript">
      var i = 0;
      function read() {
        if (!i) {
          document.getElementById("hide").style.display = "inline";
          document.getElementById("showLess").style.display = "inline";
          document.getElementById("showMore").style.display = "none";

          i = 1;
        } else {
          document.getElementById("hide").style.display = "none";
          document.getElementById("showLess").style.display = "none";
          document.getElementById("showMore").style.display = "inline";
          i = 0;
        }
      }
    </script>
  </body>
</html>
