<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Affiliate</title>
  <link rel="stylesheet" href="/sass/css/style.css">
  <!-- <link rel="shortcut icon" type="image/png" href="sass/img/Black-and-White-Logo-PNG.png"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162941654-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-162941654-1');
  </script>


</head>

<body>

  <div style="height: 12vh;">
    <%- include('partials/navbar.ejs') %>
  </div>

  <div class="dealPageContent">
    <div class="deal-with-review">
      <div class="deal-carousel">
        <div class="small-slides">
          <div class="mini-slide">
            <img class="demo cursor small-pic" src=<%= `/img/deals/${deal.titleImg}` %> style="width:100%" onclick="currentSlide(1)"
              alt="The Woods">
          </div>
          <% var i = 1 ;%> 
          <% for( var photo of deal.corouselImgs) { %>
            <% i++ ;%> 
          <div class="mini-slide">
            <img class="demo cursor small-pic" src=<%= `/img/deals/${photo}` %> style="width:100%"
              onclick= "currentSlide(<%= `${i}` %>)"   alt="Cinque Terre">
              
          </div>
          <% } %> 
          <!-- <div class="mini-slide">
            <img class="demo cursor small-pic" src="/images/jeans.jpeg" style="width:100%" onclick="currentSlide(3)"
              alt="Mountains and fjords">
          </div>
          <div class="mini-slide">
            <img class="demo cursor small-pic" src="/images/oneplusback.jpg" style="width:100%"
              onclick="currentSlide(4)" alt="Northern Lights">
          </div>
          <div class="mini-slide">
            <img class="demo cursor small-pic" src="/images/jeans.jpeg" style="width:100%" onclick="currentSlide(5)"
              alt="Nature and sunrise">
          </div>
          <div class="mini-slide">
            <img class="demo cursor small-pic" src="/images/oneplusback.jpg" style="width:100%"
              onclick="currentSlide(6)" alt="Snowy Mountains">
          </div> -->
        </div>

        <div class="slideshow-dealpage">
          <!-- Slideshow container -->
          <div class="slideshow-container-deal">

            <a class="slider_b_deals d_prev prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="slider_b_deals d_next next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
              <div class="numbertext">1 / 6</div>
              <img class="deal-carousel-img" src=<%=`/img/deals/${deal.titleImg}` %>  style="width:100%;">
            </div>
            <% for( var photo of deal.corouselImgs) { %>
            
            
            <div class="mySlides fade">
              <div class="numbertext">2 / 6</div>
              <img class="deal-carousel-img" src=<%= `/img/deals/${photo}` %>  style="width:100%;">
            </div>
            <% } %>
            <!-- <div class="mySlides fade">
              <div class="numbertext">2 / 6</div>
              <img class="deal-carousel-img" src="/images/oneplusback.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
              <div class="numbertext">3 / 6</div>
              <img class="deal-carousel-img" src="/images/jeans.jpeg" style="width:100%">
            </div>

            <div class="mySlides fade">
              <div class="numbertext">4 / 6</div>
              <img class="deal-carousel-img" src="/images/oneplusback.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
              <div class="numbertext">5 / 6</div>
              <img class="deal-carousel-img" src="/images/jeans.jpeg" style="width:100%">
            </div>

            <div class="mySlides fade">
              <div class="numbertext">6 / 6</div>
              <img class="deal-carousel-img" src="/images/oneplusback.jpg" style="width:100%">
            </div> -->

          </div>
          <br>

          <!-- The dots/circles -->
          <!-- <div style="text-align:center">
            
            <span class="dot" onclick="currentSlide(1)"></span>
             <% var dots =1; %> 
            <% for( var photo of deal.corouselImgs) { %>
              <% dots++; %> 
            <span class="dot" onclick="currentSlide(`${dots}`)"></span>
          <% } %>    
             <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
            <span class="dot" onclick="currentSlide(6)"></span> -->
          </div> 
        </div>
    </div>
        <div class="deal-deets">
          <div class="deal-deets_name">
            <h4><%= deal.dealName %> 
          </div>
          <div class="deal-deets_price">
            <li class="price" style="word-spacing: 3rem;"><span class="price_avail"
                style="font-size: 2.5rem !important;margin-left:0.5rem">
                Rs.<%= deal.mrp %> </span> <strike class="price_mrp" style="color: rgb(122, 122, 122);">Rs.<%= deal.dealPrice %> </strike> <span
                class="price_dis" style="font-size: 2.5rem;">(70%)</span>
            </li>
          </div>
          <div class="deal-deets_buttons">
            <a href="<%= deal.affiliateLink %>" class="deal-deets_buy">Buy now</a>
            <% if (user) { %>
                <% if (like) { %>
                
                <a href="" class="deal-deets_save" id="dislike_deal">Dislike</a>
                <% } else { %>
                  <a href="" class="deal-deets_save" id="like_deal">Save for later</a>

                <% } %>
            <% }else{ %>
            
              <button class="deal-deets_save" id="like_deal_no">Save for later</button>

            <% } %>
            </div>
          <div class="deal-deets_vt">
            <p class="deal-deets_views"><%= deal.views %> k views</p>
            <p class="deal-deets_time"><%= deal.mrp %> days ago</p>
          </div>
          <div class="deal-deets_buttons">
            <a href="" class="deal-deets_user"> <%= deal.owner %> </a>
            <% if (user) { %>

                <% if (log) { %>
                  <a href="" class="deal-deets_subs" id="unsubscribe_btn">un</a>
                  <% } else { %>
                <a href="" class="deal-deets_subs" id="subscribe_btn">Subscribe</a>
                <% } %>

            <% }else{ %>
            
              <button class="deal-deets_subs" id="subscribe_btn_no">Subscribe</button>
            
              <% } %>  

          </div>
          <div class="deal-deets_paragraph">
            <h3 class="heading-normal" style="margin-bottom: 0.6rem;margin-left:0.5rem">Description</h3>
            <p class="paragraph" style="margin-left: 0.5rem;"><%= deal.biggerDis %></p>
          </div>
        </div>
      </div>

      <div class="reviews" id="reviews">
        <div class="review-section">
          <span class="review-head"><img src=<%=`/img/deals/${deal.titleImg}`%> alt="User photo"
              class="user-nav__user-photo review-photo"></span>
          <input type="textarea" placeholder="Add A Review" id="review_input" class="add-review-text-area">
<button id="review_post">Post a review</button>
          <% for( var review of deal.reviews ) { %>
          <div class="user-nav__user user-review">
            <img src=<%=`/img/users/${review.user.photo}`%>  alt="User photo" class="user-nav__user-photo review-photo">

            <div class="review-text">
              <div class="user-nav__user-name"><%= review.user.name %> </div>
              <div class="rev">
                <%= review.review %>
              </div>
            </div>
          </div>
          <% } %>


          <div id="hidden-review">
            <% for(var i = 0 ; i < 3 ; i++) { %>
            <div class="user-nav__user user-review">
              <img src="/img/user.jpg" alt="User photo" class="user-nav__user-photo review-photo">

              <div class="review-text">
                <div class="user-nav__user-name">NJ</div>
                <div class="rev">
                  <%= deal.biggerDis %>
                </div>
              </div>
            </div>
            <% } %>
          </div>

          <div id="showMoreBtn">
            <a href="#reviews" class="show-hide-link" id="more" onclick="revMoreLess()">
              <i class="fas fa-caret-down font_icon" id="down" style="color: red;margin:0 1.2rem 0 1rem;"></i>
              <span class="heading-normal">Show More</span>
            </a>
          </div>
          <div id="showLessBtn">
            <a href="#reviews" class="show-hide-link" id="more" onclick="revMoreLess()">
              <i class="fas fa-caret-up font_icon" id="up" style="color: red;margin:0 1.2rem 0 1rem;"></i>
              <span class="heading-normal">Show Less</span>
            </a>
          </div>

        </div>

      </div>

      <!-- <section class="deal_area">
          <div class="row">
            <div class="carousel_container">

              <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img class="deal-carousel-img" src="/images/jeans.jpeg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="/images/jeans.jpeg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="/images/jeans.jpeg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="/images/jeans.jpeg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="/images/jeans.jpeg" style="width:100%">
              </div>

              <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="/images/jeans.jpeg" style="width:100%">
              </div>

              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>

              <div class="caption-container">
                <p id="caption"></p>
              </div>

              <div class="row">
                <div class="mini-slide">
                  <img class="demo cursor small-pic" src="/images/jeans.jpeg" style="width:100%" onclick="currentSlide(1)"
                    alt="The Woods">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/images/jeans.jpeg" style="width:100%" onclick="currentSlide(2)"
                    alt="Cinque Terre">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/images/jeans.jpeg" style="width:100%" onclick="currentSlide(3)"
                    alt="Mountains and fjords">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/images/jeans.jpeg" style="width:100%" onclick="currentSlide(4)"
                    alt="Northern Lights">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/images/jeans.jpeg" style="width:100%" onclick="currentSlide(5)"
                    alt="Nature and sunrise">
                </div>
                <div class="column">
                  <img class="demo cursor" src="/images/jeans.jpeg" style="width:100%" onclick="currentSlide(6)"
                    alt="Snowy Mountains">
                </div>
              </div>
              <div class="action_buttons">

                <a href="" id="like_deal"> <button type="button">Like for later</button></a>
                <a href="<%= deal.affiliateLink %>"><button type="button">Buy Now</button></a>
                <button type="button">Report</button>
              </div>

            </div>
            <div class="deal_info">
              <div class="deal_heading">
                <%= deal.dealName %>
              </div>
              <div class="deal_price">
                <%= `${deal.mrp}` %> 80%OFF <%=` ${deal.dealPrice}` %>
              </div>
              <div class="deal_price" style="display: flex;">
                <h3 style="margin-right: 2rem;"> <%= deal.owner %> </h3>
                <div class="profile_area_subs" style="margin-right: 0 !important; margin-top: 0 !important;">

                  <h6 class="heading-normal"><button id="subscribe_btn">Subscribe</button></h6>

                </div>
              </div>
              <div class="paragraph" style="margin-top: 2rem;">
                <%= deal.biggerDis %>
              </div>
            </div>
            <div class="comment_section">
              <h2>Please Enter your Review</h2>
              <textarea name="comment_section" id="" cols="110" rows="10"></textarea>
              <button type="button">Submit</button>
            </div>
            <% for( var review of deal.reviews ) { %>
            <div>
              <h3 style="margin-top: 1rem;"><%= review.user.name %> </h6>
                <p class="paragraph"> <%= review.review  %> </p>
            </div>
            <% } %>
        </section> -->
    </div>

    
    <div class="side_deals">
      <% var i=0; %>
      <% for(var deal of reco){ %>
        <% i++; if(i>cooCount){ %>
        <div class=" side_deals_item">
          <a href=<%= `/deal/${deal._id}/postedBy/${deal.user}` %> >
          <div class="deal_area_box" style="width: 100% !important;">
            <div class="bigImg_container">
              <div class="deal_area_box_img" style="padding: 7rem !important;"></div>
            </div>
            <div class="deal_area_content">
              <!-- <div class="picture_container">
                        <div class="profile_pic"></div>
                    </div> -->
              <div class="content_box" style="display: flex;flex-direction: column;justify-content: center;">
                <div class="deal_box_nameTime"
                  style="display: flex;flex-direction: row;align-items: center;justify-content: center; ">
  
                  <div class="deal_box_name" style="font-size: 15px !important;">
                    <%= deal.dealName %>
                  </div>
  
                </div>
                <div class="deal_box_nameTime" style="display: flex;flex-direction: row;align-items: center; ">
  
                  <div class="deal_box_views"><%= deal.owner %></div>
                  <!-- <div class="deal_box_time">Amazon</div> -->
  
                </div>
  
  
                <div class="deal_box_nameTime" style="display: flex;flex-direction: row ">
                  <div class="deal_box_views"><%= deal.mrp %></div>
                  <div class="deal_box_time">80% OFF</div>
                  <div class="deal_box_time"><%= deal.dealPrice %></div>
                </div>
  
                <div class="deal_box_nameTime" style="display: flex;flex-direction: row">
                  <div class="deal_box_views"><%= deal.views %></div>
                  <div class="deal_box_time">3 days ago</div>
                </div>
                <!-- <div class="deal_box_description" style="display: flex; flex-direction: row;">
                      <div>80% Off only on HDFC Bank Credit Cards</div>
                    </div> -->
              </div>
            </div>
          </div>
          </a>
        </div>
          <% } %>
          <% if(i===cooCount+3){break;} %>
        <% } %>

        <% var i=0; %>
      <% for(var deal of trendDeals){ %>
        <% i++;%>
        <div class=" side_deals_item">
          <a href=<%= `/deal/${deal._id}/postedBy/${deal.user}` %> >
          <div class="deal_area_box" style="width: 100% !important;">
            <div class="bigImg_container">
              <div class="deal_area_box_img" style="padding: 7rem !important;"></div>
            </div>
            <div class="deal_area_content">
              <!-- <div class="picture_container">
                        <div class="profile_pic"></div>
                    </div> -->
              <div class="content_box" style="display: flex;flex-direction: column;justify-content: center;">
                <div class="deal_box_nameTime"
                  style="display: flex;flex-direction: row;align-items: center;justify-content: center; ">
  
                  <div class="deal_box_name" style="font-size: 15px !important;">
                    <%= deal.dealName %>
                  </div>
  
                </div>
                <div class="deal_box_nameTime" style="display: flex;flex-direction: row;align-items: center; ">
  
                  <div class="deal_box_views"><%= deal.owner %></div>
                  <!-- <div class="deal_box_time">Amazon</div> -->
  
                </div>
  
  
                <div class="deal_box_nameTime" style="display: flex;flex-direction: row ">
                  <div class="deal_box_views"><%= deal.mrp %></div>
                  <div class="deal_box_time">80% OFF</div>
                  <div class="deal_box_time"><%= deal.dealPrice %></div>
                </div>
  
                <div class="deal_box_nameTime" style="display: flex;flex-direction: row">
                  <div class="deal_box_views"><%= deal.views %></div>
                  <div class="deal_box_time">3 days ago</div>
                </div>
                <!-- <div class="deal_box_description" style="display: flex; flex-direction: row;">
                      <div>80% Off only on HDFC Bank Credit Cards</div>
                    </div> -->
              </div>
            </div>
          </div>
        </a>
        </div>
        <% if(i===3){break;} %>
        <% } %>
      
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="/js/likedDeal.js"></script>
  <script src="/js/subscribe.js"></script>
  <script src="/js/review.js"></script>
  <!-- <script src="/js/main.js"></script> -->

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }

  </script>

  <script type="text/javascript">
    var i = 0;
    function revMoreLess() {
      if (!i) {
        document.getElementById("hidden-review").style.display = "block";
        document.getElementById("showLessBtn").style.display = "block";
        document.getElementById("showMoreBtn").style.display = "none";

        i = 1;
      }
      else {
        document.getElementById("hidden-review").style.display = "none";
        document.getElementById("showLessBtn").style.display = "none";
        document.getElementById("showMoreBtn").style.display = "block";
        i = 0;
      }
    }
  </script>

<div class="popup" id="popupLike">
  <!-- <div class="bg-video">
      <video  class="bg-video_content" autoplay loop muted>
          <source src="sass/img/coverr-philippines-spices-1559212666899.mp4" type="video/mp4">
      </video>
  </div> -->
<div class="popup_content">
  
     
<div class="popup_left"><img src="/images/32-kjb-1409-dnft-gry-killer-original-imafz9xjgkhguknc.jpeg" alt="hi" class="popup_img">
<!-- <img src="/images/32-kjb-1409-dnft-gry-killer-original-imafz9xjgkhguknc.jpeg" alt="hi" class="popup_img"> -->
</div>
<div class="popup_right">
  <div class="popup_cross" id="popup_crosslike">&times;</div>
<h1 class="heading-secondary popup_heading center">about us</h1>
<p class="paragraph popup_paragraph">Thapar Food Festival is the most magnificent and awe-inspiring festivity ever happened, one-of-a-kind. Keeping the sky as the limit, we always venture hard to content the ever-growing foodie in you. TFF is not just a festival,  but also a mission to let food break barriers and make everyone happy on a common stage. We are a journey, ever-growing indulging masses in merry-making. Come, experience edible infinity.</p>    

</div>

<button id="like_btn_deal">Signup/Login</button>
</div>
</div>

  <script>

      document.getElementById("like_deal_no").addEventListener("click", (e) => {
        e.preventDefault();

        document.getElementById('popupLike').style.display = 'block'; 
      });

  </script>
  <script>

    document.getElementById("subscribe_btn_no").addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById('popupLike').style.display = 'block'; 
    });

</script>
  <script>

      // document.getElementById("like_deal").addEventListener("click", (e) => {
      //   e.preventDefault();

      //   passvalueo();
      // });

    </script>
  <script>

    document.getElementById("popup_crosslike").addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById('popupLike').style.display = 'none'; 
    });

  </script>
  <script>

    document.getElementById("like_btn_deal").addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById('popupLike').style.display = 'none';
      location.assign('/signup'); 
    });

  </script>



</body>

</html>