<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Affiliate</title>
  <link rel="stylesheet" href="/sass/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap" rel="stylesheet">
  <!-- <link rel="shortcut icon" type="image/png" href="sass/img/Black-and-White-Logo-PNG.png"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!-- <script src="/vendor/jquery/jquery-3.2.1.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162941654-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-162941654-1');
  </script>


</head>


<body>

  <div style="height: 12vh;">
    <%- include('partials/navbar.ejs') %>
  </div>

  <div class="dealPageContent">
    <div class="deal-with-review">
      <div class="deal-carousel">
        <div class="small-slides">
          <div class="mini-slide">
            <img class="demo cursor small-pic" src=<%= `/img/deals/${deal.titleImg}` %> style="width:100%"
              onclick="currentSlide(1)" alt="The Woods">
          </div>
          <% var i = 1 ;%>
          <% for( var photo of deal.corouselImgs) { %>
          <% i++ ;%>
          <div class="mini-slide">
            <img class="demo cursor small-pic" src=<%= `/img/deals/${photo}` %> style="width:100%"
              onclick="currentSlide(<%= `${i}` %>)" alt="Cinque Terre">

          </div>
          <% } %>
        </div>

        <div class="slideshow-dealpage">
          <!-- Slideshow container -->
          <div class="slideshow-container-deal">

            <a class="slider_b_deals d_prev prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="slider_b_deals d_next next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
              <div class="numbertext">1 / 6</div>
              <img class="deal-carousel-img" src=<%=`/img/deals/${deal.titleImg}` %> style="width:100%;">
            </div>
            <% for( var photo of deal.corouselImgs) { %>


            <div class="mySlides fade">
              <div class="numbertext">2 / 6</div>
              <img class="deal-carousel-img" src=<%= `/img/deals/${photo}` %> style="width:100%;">
            </div>
            <% } %>

          </div>
          <br>

        </div>
      </div>
      
    </div>

    <div class="deal-deets">
      <%  function kFormatter(num) {
        return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num);
    } 
    var vui = kFormatter(deal.views);

    
    var tem = Math.round(deal.time/360000)/10;
    var day = Math.round((tem/2.4))/10;
    %>
    <% function timeSince(date) {

        var seconds = Math.floor((new Date() - date) / 1000);
      
        var interval = Math.floor(seconds / 31536000);
      
        if (interval > 1) {
          return interval + " years";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval > 1) {
          return interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
          return interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
          return interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 1) {
          return interval + " minutes";
        }
        return Math.floor(seconds) + " seconds"; 
      }
      var nowx = new Date(Date.now());
      var titu = timeSince(nowx - 100000000000);
      var aDay = 24*60*60*1000;
       %>
      <div class="deal-deets_name">
        <h4><%= deal.dealName %>
      </div>
      <div class="deal-highlights-dp">
        <!-- <div class="deal-ratings-dp">
          <div class="ratings-icon-dp">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="ratings-text-dp">
            <span>Perfect</span>
          </div>
        </div> -->

      </div>
      <hr />
      <div class="deal-deets_price">
        <li class="price"><span class="price_avail">
            Rs. <%= deal.mrp %> </span> <span class="price_mrp">Rs. <%= deal.dealPrice %> </span> <span class="price_dis">(70% OFF)
            </span>
        </li>
      </div>

      
      <div class="deal-deets_buttons" style="display: flex;">
        <a href="<%= deal.affiliateLink %>" class="deal-deets_buy"><i class="fa fa-shopping-cart"></i>Buy now</a>
        <div class="below-image">
          <% if (user) { %>
            <% if (like) { %>
            <a href="" class="deal-deets_save" id="dislike_deal">Unlike</a>
            <% } else { %>
            <a href="" class="deal-deets_save" id="like_deal"><i class="fa fa-heart" style="margin-right: 1rem;"></i></a>
    
            <% } %>
            <% }else{ %>
    
            <a href="#" class="deal-deets_save" id="like_btn_no"><i class="fa fa-heart" style="margin-right: 1rem;"></i></a>
    
            <% } %>
    
            <a class="deal-deets_share" id="share_popup_btn" onclick="disaplay()">
              <div class="deal-deets_share_button" ><i class="fa fa-share alt"  style="margin-right: 1rem;font-size:2.4rem"></i></div>
            </a>
          </div>
      </div>
      <div class="deal-deets_vt">
          <div class="deal-views-dp">
          <div class="views-icon-dp">
            <i class="far fa-eye"></i>
          </div>
          <div class="views-text-dp">
            <span><% if (deal.views > 999) { %>
              <span><%=`${vui} views`%></span>
              <% } else { %>
              <span><%=`${deal.views} views`%></span>
              <% } %></span>
          </div>
        </div>
        <i class="fas fa-clock" style="margin-left: 4.5rem;margin-top:0.5rem;color:rgba(0, 0, 0, 0.432)"></i>
        <p class="deal-deets_time"><% if (tem > 24) { %>
          <span style="margin-left: 1rem;"><%=`${day} day(s) ago`%></span>
          <% } else if (tem > 1) { %>
          <span style="margin-left: 1rem;"><%=`${tem} hr ago`%></span>
          <% } else { %>
          <span style="margin-left: 1rem;"><%=`${tem*60} min ago`%></span>
          <% } %></p>
        <span class="deal-deets_categ" style="margin-left: 3.5rem;">Category: <%= deal.category %></span>
      
      </div>

      <div class="deal-deets_affiliate">
        <% if (postedBy.photo) { %>
          <img src=<%=`/img/users/${postedBy.photo}`%> alt="User photo" class="user-nav__user-photo review-photo">
          <% } else { %>
          <a href=<%= `/member/${postedBy.id}` %> ><img style="margin-top: unset;"
            data-name=<%=postedBy.name %> data-color="#85e0ce" class="profile
            user-nav__user-photo review-photo"/></a>
            <% } %>
        <!-- <img class="deal-deets_affiliate_pic" src="/images/aff_pic.png" alt="c"> -->

        <a href="" class="deal-deets_user"> <%= postedBy.name %> </a>
        <% if (user) { %>

        <% if (log) { %>
        <a href="" class="deal-deets_subs" id="unsubscribe_btn">Unsubscribe</a>
        <% } else { %>
        <a href="" class="deal-deets_subs" id="subscribe_btn">Subscribe</a>
        <% } %>

        <% }else{ %>

        <button class="deal-deets_subs" id="subscribe_btn_no">Subscribe</button>

        <% } %>

      </div>
      <% if (deal.biggerDis) { %>
        <h2 style="border-bottom: 1px solid rgba(0, 0, 0, 0.233); margin-left:1.3rem;width:17.6%">Description</h2>
        <div class="deal-deets_paragraph">
          <p class="deal-deets_paragraph"> <%= deal.biggerDis%>  </p>
        </div>
      <% } %>
      
      
    </div>
    <div class="side_deals">
      <div style="display: flex; width: 30rem; padding: 1rem 0.65rem; font-family: Montserrat; font-size: 2rem"><i class="fa fa-fire" style="padding: 0.9rem 1.5rem 0 0;"></i>Recommendations</div>
      <% var i=0; %>
      <% for(var deala of reco){ %>
      <% i++; if(i>cooCount){ %>
      <div class=" side_deals_item">
        <%  function kFormatter(num) {
          return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num);
      } 
      var vui = kFormatter(deal.views);

      
      var tem = Math.round(deal.time/360000)/10;
      var day = Math.round((tem/2.4))/10;
      %>
      <% function timeSince(date) {

          var seconds = Math.floor((new Date() - date) / 1000);
        
          var interval = Math.floor(seconds / 31536000);
        
          if (interval > 1) {
            return interval + " years";
          }
          interval = Math.floor(seconds / 2592000);
          if (interval > 1) {
            return interval + " months";
          }
          interval = Math.floor(seconds / 86400);
          if (interval > 1) {
            return interval + " days";
          }
          interval = Math.floor(seconds / 3600);
          if (interval > 1) {
            return interval + " hours";
          }
          interval = Math.floor(seconds / 60);
          if (interval > 1) {
            return interval + " minutes";
          }
          return Math.floor(seconds) + " seconds"; 
        }
        var nowx = new Date(Date.now());
        var titu = timeSince(nowx - 100000000000);
        var aDay = 24*60*60*1000;
         %>
        <a href=<%= `/deal/${deala._id}/postedBy/${deala.user}` %>>
          <div class="deal_area_box" style="width: 100% !important;">
            <div class="bigImg_container" style="width: 60rem; height: 15rem;">
                <img src=<%= `/img/deals/${deala.titleImg}` %> alt="Deal Photo" class="deal-photo">
            </div>
            <div class="deal_area_content">
              <div class="content_box" style="display: flex; flex-direction: column; justify-content: center">
                <div class="deal_box_nameTime"
                  style="display: flex; flex-direction: row; align-items: center">
                  <div class="deal_box_name" style="font-size: 15px !important">
                    <%= deala.dealName %>
                  </div>
  
                </div>
                <div class="deal_box_nameTime" style="display: flex; flex-direction: row; align-items: center">
                  <div class="deal_box_views"><%= deala.owner %></div>
  
                </div>
  
  
                <div class="deal_box_nameTime" style="display: flex; flex-direction: row">
                  <div class="deal_box_dp">Rs.<%= deala.dealPrice %></div>
                  <div class="deal_box_mrp">Rs.<%= deala.mrp %></div>
                  <div class="deal_box_dis">-80%</div>
                </div>
  
                <div class="deal_box_nameTime" style="display: flex; flex-direction: row">
                  <div class="deal_box_views"><% if (deala.views > 999) { %>
                    <span><%=`${vui} views`%></span>
                    <% } else { %>
                    <span><%=`${deala.views} views`%></span>
                    <% } %></div>
                  <div class="deal_box_time"><% if (tem > 24) { %>
                    <span style="margin-left: 1rem;"><%=`${day} day(s) ago`%></span>
                    <% } else if (tem > 1) { %>
                    <span style="margin-left: 1rem;"><%=`${tem} hr ago`%></span>
                    <% } else { %>
                    <span style="margin-left: 1rem;"><%=`${tem*60} min ago`%></span>
                    <% } %></div>
                  
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <% } %>
      <% if(i===cooCount+3){break;} %>
      <% } %>
  
      <% var i=0; %>
      <% for(var dealo of trendDeals){ %>
      <% i++;%>
      <div class=" side_deals_item">
        <a href=<%= `/deal/${dealo._id}/postedBy/${dealo.user}` %>>
          <div class="deal_area_box" style="width: 100% !important;">
            <div class="bigImg_container" style="width: 60rem; height: 15rem;">
              <img src=<%= `/img/deals/${dealo.titleImg}` %> alt="Deal Photo" class="deal-photo">
            </div>
            <div class="deal_area_content">
              <div class="content_box" style="display: flex;flex-direction: column;justify-content: center;">
                <div class="deal_box_nameTime"
                  style="display: flex; flex-direction: row; align-items: center">
  
                  <div class="deal_box_name" style="font-size: 15px !important;">
                    <%= dealo.dealName %>
                  </div>
  
                </div>
                <div class="deal_box_nameTime" style="display: flex;flex-direction: row;align-items: center; ">
  
                  <div class="deal_box_views"><%= dealo.owner %></div>
  
                </div>
  
  
                <div class="deal_box_nameTime" style="display: flex;flex-direction: row ">
                  <div class="deal_box_dp">Rs.<%= dealo.dealPrice %></div>
                  <div class="deal_box_mrp">Rs.<%= dealo.mrp %></div>
                  <div class="deal_box_dis">-80%</div>
                </div>
  
                <div class="deal_box_nameTime" style="display: flex;flex-direction: row">
                  <div class="deal_box_views"><% if (dealo.views > 999) { %>
                    <span><%=`${vui} views`%></span>
                    <% } else { %>
                    <span><%=`${dealo.views} views`%></span>
                    <% } %></div>
                  <div class="deal_box_time"><% if (tem > 24) { %>
                    <span style="margin-left: 1rem;"><%=`${day} day(s) ago`%></span>
                    <% } else if (tem > 1) { %>
                    <span style="margin-left: 1rem;"><%=`${tem} hr ago`%></span>
                    <% } else { %>
                    <span style="margin-left: 1rem;"><%=`${tem*60} min ago`%></span>
                    <% } %></div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <% if(i===3){break;} %>
      <% } %>
  
    </div>
  </div>
        
  </div>
  <div class="reviews" id="reviews">
    <!-- <div class="review-rating">
      <div class="rating-avg">
        <span>4.5</span>
        <div class="rating-stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
      </div>
      <ul class="rating">
        <li>
          <div class="rating-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="rating-progress">
            <div style="width: 80%;"></div>
          </div>
          <span class="sum">3</span>
        </li>
        <li>
          <div class="rating-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <div class="rating-progress">
            <div style="width: 40%;"></div>
          </div>
          <span class="sum">2</span>
        </li>
        <li>
          <div class="rating-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <div class="rating-progress">
            <div style="width: 0%;"></div>
          </div>
          <span class="sum">1</span>
        </li>
        <li>
          <div class="rating-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <div class="rating-progress">
            <div style="width: 0%;"></div>
          </div>
          <span class="sum">0</span>
        </li>
        <li>
          <div class="rating-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <div class="rating-progress">
            <div style="width: 0%;"></div>
          </div>
          <span class="sum">0</span>
        </li>
      </ul>
    </div> -->
    <div class="review-section">
      <span class="review-head">
        <img src=<%=`/img/deals/${deal.titleImg}`%> alt="User photo" class="user-nav__user-photo review-photo">
      </span>
      <input placeholder="Add A Review" id="review_input" class="add-review-text-area" style="padding-left: 2rem;">
      <button id="review_post">Post</button>
      <!-- <div class="add-rating">
        <div>Add your rating: </div>
        <div class="rating-stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div> -->
      <% for( var review of deal.reviews ) { %>
      <div class="user-nav__user user-review">
        <% if (review.user.photo) { %>
        <img src=<%=`/img/users/${review.user.photo}`%> alt="User photo" class="user-nav__user-photo review-photo">
        <% } else { %>
        <a href=<%= `/member/${review.user.id}` %> ><img style="margin-top: unset;"
          data-name=<%=review.user.name %> data-color="#85e0ce" class="profile
          user-nav__user-photo review-photo"/></a>
          <% } %>
        <div class="review-text">
          <div class="user-nav__user-name"><%= review.user.name %> </div>
          <div class="rev" id="normRev">
            <%= review.review %>
          </div>
          <div style="display: none;" id="editDiv">
          <div class="rev" contenteditable="true" id="revrevrev" style="border: 2px solid black;">
            <%= review.review %>
          </div>
          <button style="right: 0;" id="editRevBtn" onclick="editRevFun(this)" name=<%= `${review._id}/edit` %>>Edit</button>
        </div>
        </div>
        <% if (user) { %>
          <% if (user.id == review.user._id) { %>
         <form action= <%= `/deal/${deal._id}/postedBy/${deal.user}` %> method="GET">
        <select class="three-dots" id="big-three-dots" name="dealOps" onchange="dealOperations(this)">
          <option selected disabled value="empty"></option>
          <option value=<%= `${review._id}/edit` %>>Edit</option>
          <option value=<%= `${review._id}/delete` %>>Delete</option>
          
        </select>
      </form>
        <% } %>
          <% } %>

      </div>
      <% } %>


      <!-- <div id="hidden-review">
        <% for(var i = 0 ; i < 3 ; i++) { %>
        <div class="user-nav__user user-review">
          <img src="/img/user.jpg" alt="User photo" class="user-nav__user-photo review-photo">

          <div class="review-text">
            <div class="user-nav__user-name"><%= deal.biggerDis %></div>
            <div class="rev">
              <%= deal.biggerDis %>
            </div>
          </div>
        </div>
        <% } %>
      </div> -->

      <!-- <div id="showMoreBtn">
        <a href="#reviews" class="show-hide-link" id="more" onclick="revMoreLess()">
          <i class="fas fa-caret-down font_icon" id="down" style="color: red;margin:0 1.2rem 0 1rem;"></i>
          <span class="heading-normal">Show More</span>
        </a>
      </div>
      <div id="showLessBtn">
        <a href="#reviews" class="show-hide-link" id="more" onclick="revMoreLess()">
          <i class="fas fa-caret-up font_icon" id="up" style="color: red;margin:0 1.2rem 0 1rem;"></i>
          <span class="heading-normal">Show Less</span>
        </a>
      </div> -->

    </div>

  </div>


 
  <div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2>About</h2>
            <br>
            <ul>
                <a >
                    <li onclick="about()">About</li>
                </a>
                <a  >
                    <li onclick="contact()">Contact</li>
                </a>
                <a href="#">
                    <!-- <li>Careers</li> -->
                </a>
                <a href="#">
                    <!-- <li>Our Team</li> -->
                </a>

            </ul>
        </div>
        <div class="footer-section social">
            <h2>Social</h2>
            <br>
            <ul>
                <a href="https://twitter.com/">
                    <li>
                        <!-- <i class="fab fa-twitter"></i> -->
                        Twitter</li>
                </a>
                <a href="https://www.facebook.com/">
                    <li>
                        <!-- <i class="fab fa-facebook-f"></i> -->
                        Facebook</li>
                </a>
                <a href="https://twitter.com/">
                    <li>
                        <!-- <i class="fab fa-instagram"></i> -->
                        Instagram</li>
                </a>
            </ul>
        </div>
        <div class="footer-section policy">
            <h2>Policy</h2>
            <br>
            <ul>
                <a >
                    <li onclick="terms()">Terms and Conditions</li>
                </a>
                <a >
                    <li onclick="privacy()">Privacy Policy</li>
                </a>
            </ul>
        </div>
        <!-- <div class="footer-section help">
            <h2>Help</h2>
            <br>
            <ul>
                <a href="#">
                    <li>How to Post a Deal</li>
                </a>
                <a href="#">
                    <li>FAQ</li>
                </a>
                <a href="#">
                    <li>Report</li>
                </a>
            </ul>
        </div> -->
    </div>
    <div class="footer-bottom">
        <hr>
        </hr>
        &copy; 2020, Your Deal Inc.

    </div>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="/js/likedDeal.js"></script>
  <script src="/js/subscribe.js"></script>
  <script src="/js/review.js"></script>
  <!-- <script src="/js/main.js"></script> -->

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = slides.length }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }

  </script>
  <!-- <script src="vendor/jquery/jquery-3.2.1.min.js"></script> -->
 
  <script>
    function editRevFun(el){
        var revrevrev = document.getElementById("revrevrev").textContent;
        console.log(revrevrev);
        console.log(el.name.split('/')[0]);        
        passvalueEditReview(el.name.split('/')[0], revrevrev);
    }
    function dealOperations(el){
      console.log($(el).val());
      // var dealKiId = $(el).val().split('/')[1];
      // var reporter = $(el).val().split('/')[2];
      // var reportCount = 1;

      if($(el).val().split('/')[1]=="delete"){
        el.form.submit();
        var dealId=deal._id;
        var dealUser=deal.user;
      }else if($(el).val().split('/')[1]=="edit"){
        document.getElementById("normRev").style.display='none';
        document.getElementById("editDiv").style.display ='block'; 

      }
        
    }
</script>


  <script type="text/javascript">
    var i = 0;
    function revMoreLess() {
      if (!i) {
        document.getElementById("hidden-review").style.display = "block";
        document.getElementById("showLessBtn").style.display = "block";
        document.getElementById("showMoreBtn").style.display = "none";

        i = 1;
      }
      else {
        document.getElementById("hidden-review").style.display = "none";
        document.getElementById("showLessBtn").style.display = "none";
        document.getElementById("showMoreBtn").style.display = "block";
        i = 0;
      }
    }
  </script>
<div class="share_popup" id="share_popup">
    <div class="popup_right">
        <div class="popup_cross" id="share_cross" style="font-size: 3rem; position: absolute; top: 0; right: 1.5%; line-height: 1;">&times;</div>
    </div>
    <div class="popup_content" style="font-size: 2rem; text-align: center;">
        Share
        <br>
 
        <textarea name="" id="" class="generated" cols="30" rows="5" ><%= deal.dealName %>&#10;<%= deal.dealPrice %>  <%= deal.discount %>&#10;<%= fullUrl %>   </textarea>
        <button id="copied" onclick="coping()">copy</button>
        <!-- <a href="/signup"><button id="go_sign_post" style="margin: 2rem; border: none; background-color: red; padding: 1rem 3rem; color: white; border-radius: 5.3%">Sign Up</button></a><button id="subscribe_btn_no_cancel" style="margin: 2rem; border: none; background-color: grey; padding: 1rem 3rem; color: white; border-radius: 5.3%; opacity: 0.68">Cancel</button> -->
    </div>
</div>
<script>
  function coping() {
    var copyText = document.getElementsByClassName("generated");
      copyText[0].select();
      document.execCommand("copy");
  }
</script>
<script>
  function disaplay(){
    document.getElementById("share_popup").style.display ="block";
  }
  document.getElementById("share_cross").addEventListener('click',()=>{
    document.getElementById("share_popup").style.display ="none";
  });
</script>
  <script>

    document.getElementById("likelike_deal_no").addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById('popupLikeLike').style.display = 'block';
    });
    

  </script>
  
  <div class="popup" id="popup_subs">
    <div class="popup_right">
        <div class="popup_cross" id="subscribe_btn_no_cross" style="font-size: 3rem; position: absolute; top: 0; right: 1.5%; line-height: 1;">&times;</div>
    </div>
    <div class="popup_content" style="font-size: 2rem; text-align: center;">
        Please signup / login to subscribe ?
        <br>
        <a href="/signup"><button id="go_sign_post" style="margin: 2rem; border: none; background-color: red; padding: 1rem 3rem; color: white; border-radius: 5.3%">Sign Up</button></a><button id="subscribe_btn_no_cancel" style="margin: 2rem; border: none; background-color: grey; padding: 1rem 3rem; color: white; border-radius: 5.3%; opacity: 0.68">Cancel</button>
    </div>
</div>
  <script>

    document.getElementById("subscribe_btn_no").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popup_subs').style.display = 'block';
    });
    document.getElementById("subscribe_btn_no_cancel").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popup_subs').style.display = 'none';
    });
    document.getElementById("subscribe_btn_no_cross").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popup_subs').style.display = 'none';
    });

  </script>
  <div class="popup" id="popup_like_deal_page">
    <div class="popup_right">
        <div class="popup_cross" id="like_btn_no_cross" style="font-size: 3rem; position: absolute; top: 0; right: 1.5%; line-height: 1;">&times;</div>
    </div>
    <div class="popup_content" style="font-size: 2rem; text-align: center;">
        Please signup / login to subscribe ?
        <br>
        <a href="/signup"><button id="go_sign_post" style="margin: 2rem; border: none; background-color: red; padding: 1rem 3rem; color: white; border-radius: 5.3%">Sign Up</button></a><button id="like_btn_no_cancel" style="margin: 2rem; border: none; background-color: grey; padding: 1rem 3rem; color: white; border-radius: 5.3%; opacity: 0.68">Cancel</button>
    </div>
</div>
  <script>

    document.getElementById("like_btn_no").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popup_like_deal_page').style.display = 'block';
    });
    document.getElementById("like_btn_no_cancel").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popup_like_deal_page').style.display = 'none';
    });
    document.getElementById("like_btn_no_cross").addEventListener("click", (e) => {
      e.preventDefault();
      document.getElementById('popup_like_deal_page').style.display = 'none';
    });

  </script>
  <script src="/vendor/initial.min.js"></script>
  <script>
    $(".profile").initial();
  </script>
 
  <script>

  </script>
  <script>

    document.getElementById("popup_crosslikelike").addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById('popupLikeLike').style.display = 'none';
    });

  </script>
  <script>

    document.getElementById("likelike_btn_deal").addEventListener("click", (e) => {
      e.preventDefault();

      document.getElementById('popupLikeLike').style.display = 'none';
      location.assign('/signup');
    });

  </script>
  <script src="/js/editDeal.js"></script>



</body>

</html>