<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiliate</title>
    <link rel="stylesheet" href="sass/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fdec90a950.js" crossorigin="anonymous"></script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162941654-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-162941654-1');
    </script>

</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <%- include('partials/sidebar.ejs') %>

    <div class="deal_area">

        <!-- <div class="filter_container">
            <div class="filter_head">
                <i class="fas fa-filter" onclick="filterList()"></i>
                <p id="filter_heading" onclick="filterList()">Filters & Sorting</p>
            </div>
            <div id="filter_dropdown_section">
            <div class="filter_dropdown">
                <div class="filter_section">
                    <h2>CATEGORIES</h2>
                    <br>
                    <ul>
                        <a href="#">
                            <li>Category 1</li>
                        </a>
                        <a href="#">
                            <li>Category 2</li>
                        </a>
                        <a href="#">
                            <li>Category 3</li>
                        </a>
                        <a href="#">
                            <li>Category 4</li>
                        </a>
                        <a href="#">
                            <li>Category 5</li>
                        </a>
                    </ul>
                </div>
                <div class="filter_section">
                    <h2>BRAND</h2>
                    <br>
                    <ul>
                        <a href="#">
                            <li>Brand 1</li>
                        </a>
                        <a href="#">
                            <li>Brand 2</li>
                        </a>
                        <a href="#">
                            <li>Brand 3</li>
                        </a>
                        <a href="#">
                            <li>Brand 4</li>
                        </a>
                        <a href="#">
                            <li>Brand 5</li>
                        </a>
                    </ul>
                </div>
                <div class="filter_section">
                    <h2>Upload Date</h2>
                    <br>
                    <ul>
                        <div class="price-filter">
                        <div id="price-slider" class="noUi-target noUi-ltr noUi-horizontal">
                            <div class="noUi-base">
                                <div class="noUi-origin" style="left: 0%;">
                                    <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="0.0" aria-valuetext="1.00" style="z-index: 5;">
                                    </div>
                                </div>
                                <div class="noUi-connect" style="left: 0%; right: 0%;">
                                </div>
                                <div class="noUi-origin" style="left: 100%;">
                                    <div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="100.0" aria-valuetext="999.00" style="z-index: 4;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price_input-boxes">
                        <div class="input-number price-min">
                            <input id="price-min" type="text">
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="text">
                        </div>
                    </div>
                    </div>
                        <a href="#">
                            <li>Below ₹200</li>
                        </a>
                        <a href="#">
                            <li>Below ₹500</li>
                        </a>
                        <a href="#">
                            <li>Over  ₹1000</li>
                        </a>
                    </ul>
                </div>
               
                <div class="filter_section">
                    <h2>CUSTOMER RATING</h2>
                    <br>
                    <ul>
                        <a href="#">
                            <div class="ratings-icon-dp">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                
                              </div>
                              <span class="ld_rating-text">& Up</span>
                        </a>
                        <a href="#">
                            <div class="ratings-icon-dp">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                               
                              </div>
                              <span class="ld_rating-text">& Up</span>
                        </a>
                        <a href="#">
                            <div class="ratings-icon-dp">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                
                              </div>
                              <span class="ld_rating-text">& Up</span>
                        </a>
                        <a href="#">
                            <div class="ratings-icon-dp">
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                              </div>
                              <span class="ld_rating-text">& Up</span>
                        </a>
                    </ul>
                </div>
                
                <div class="filter_section">
                    <h2>SORT BY</h2>
                    <br>
                    <ul>
                        <a href="#">
                            <li>Popularity</li>
                        </a>
                        <a href="#">
                            <li>Recommended</li>
                        </a>
                        <a href="#">
                            <li>Latest</li>
                        </a>
                        <a href="#">
                            <li>Views</li>
                        </a>
                        <a href="#">
                            <li>Discount</li>
                        </a>
                    </ul>
                </div>
            </div>
            </div>
        </div> -->

        <div class="liked_D_container">
        <% if (user.likedDeals.length === 0) { %>
 <h1 >You haven't liked any deal yet.</h1>
 <% } else { %>
    <% for(var likedDeal of user.likedDeals) { %>
        <a href=<%= `/deal/${likedDeal.deal._id}/postedBy/${likedDeal.deal.user}` %>>
            <div class="ld_deal_box">
                <div class="bigImg_container">
                    <div class="ld_deal_box_img"></div>
                </div>
                <div class="deal_area_content">
                    <!-- <div class="picture_container">
                        <div class="profile_pic"></div>
                         </div> -->
                    <div class="content_box" style="display: flex;flex-direction: column;">
                        <div class="ld_deal_content-box"
                            style="display: flex;flex-direction: row;align-items: center; ">

                            <div class=" ld_deal-title"><%= likedDeal.deal.dealName %> </div>

                        </div>
                        <div class="ld_deal-r1" style="display: flex;flex-direction: row;align-items: center; ">

                            <div class="ld_deal-r1-det"><%= likedDeal.deal.owner %> </div>
                            <div class="ld_deal-r1-det"><%= likedDeal.deal.company %> </div>
                            <div class="ld_deal-r1-det">
                                <%= likedDeal.deal.time.toLocaleString('en-us',{ month:'long',year:'numeric'})  %>
                            </div>

                        </div>

                        <div class="ld_deal-r2" style="display: flex;flex-direction: row;align-items: center; ">
                            <div class="ld_deal-r2-det">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </div>

                        <div class="ld_deal-r3" style="display: flex;flex-direction: row ">
                            <div class="ld_deal-r3-dp"><%=`₹${likedDeal.deal.dealPrice}`%></div>
                            <div class="ld_deal-r3-mrp"><%=`₹${likedDeal.deal.mrp}`%></div>
                            <div class="ld_deal-r3-dis">80% OFF</div>
                        </div>
                        

                        <div class="ld_deal-r4" style="display: flex;flex-direction: row">
                            <div class="ld_deal-r4-det"><i class="fas fa-heart"></i>49 likes</div>
                            <div class="ld_deal-r4-det"><i id="img_ld_deal_views" class="far fa-eye"></i><%= `${likedDeal.deal.views} views`%></div>
                            <!-- <div class="ld_deal-r4-det"><%= likedDeal.deal.titleDis %></div> -->
                            
                        </div>
                    </div>
                </div>

            </div>
        </a>
        <% } %>
  
            <% } %>



            <!-- <div id="ld_filters" class="like_d_column"> -->
                <!-- Categories Widget -->
                <!-- <div class="ld_filters">
                    <h3 class="ld_filters-title">Categories</h3>
                    <div class="checkbox-filter">

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-1">
                            <label for="category-1">
                                <span></span>
                                Laptops
                                <small>(120)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-2">
                            <label for="category-2">
                                <span></span>
                                Smartphones
                                <small>(740)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-3">
                            <label for="category-3">
                                <span></span>
                                Cameras
                                <small>(1450)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-4">
                            <label for="category-4">
                                <span></span>
                                Accessories
                                <small>(578)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-5">
                            <label for="category-5">
                                <span></span>
                                Laptops
                                <small>(120)</small>
                            </label>
                        </div>

                        <div class="input-checkbox">
                            <input type="checkbox" id="category-6">
                            <label for="category-6">
                                <span></span>
                                Smartphones
                                <small>(740)</small>
                            </label>
                        </div>
                    </div>
                </div> -->
                <!-- /Categories Widget -->

                <!-- Price Widget -->
                <!-- <div class="ld_filters">
                    <h3 class="ld_filters-title">Price</h3>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <div class="input-number price-min">
                            <input id="price-min" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <span>-</span>
                        <div class="input-number price-max">
                            <input id="price-max" type="number">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                </div> -->
                <!-- /Price Widget -->

                <!-- Brand Widget -->
                <!-- <div class="ld_filters">
                    <h3 class="ld_filters-title">Brand</h3>
                    <div class="checkbox-filter">
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-1">
                            <label for="brand-1">
                                <span></span>
                                SAMSUNG
                                <small>(578)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-2">
                            <label for="brand-2">
                                <span></span>
                                LG
                                <small>(125)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-3">
                            <label for="brand-3">
                                <span></span>
                                SONY
                                <small>(755)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-4">
                            <label for="brand-4">
                                <span></span>
                                SAMSUNG
                                <small>(578)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-5">
                            <label for="brand-5">
                                <span></span>
                                LG
                                <small>(125)</small>
                            </label>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-6">
                            <label for="brand-6">
                                <span></span>
                                SONY
                                <small>(755)</small>
                            </label>
                        </div>
                    </div>
                </div> -->
                <!-- /Brand Widget -->

                <!-- Top selling Widget -->
                <!-- <div class="ld_filters">
                    <h3 class="ld_filters-title">Top selling</h3>
                    <div class="product-widget">
                        <div class="product-img"> -->
                            <!-- <img src="./img/product01.png" alt=""> -->
                        <!-- </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img"> -->
                            <!-- <img src="./img/product02.png" alt=""> -->
                        <!-- </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img"> -->
                            <!-- <img src="./img/product03.png" alt=""> -->
                        <!-- </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        </div>
                    </div>
                </div> -->
                <!-- /Top Selling Widget -->
            <!-- </div> -->
            <!-- /SIDE -->

        <!-- </div> -->
    </div>
    <%- include('partials/footer.ejs') %>
  
    <script type="text/javascript">
        var i = 0;
        function filterList() {
            if (!i) {
                document.getElementById("filter_dropdown_section").style.display = "block";

                i=1;
            }
            else {
                document.getElementById("filter_dropdown_section").style.display = "none";

                i=0;
            }
        }
    </script>

</body>

</html>