<!DOCTYPE html>
<html>
<title>Affiliate</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />

<link rel="stylesheet" href="/sass/css/style.css">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162941654-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-162941654-1');
</script>

<body>

    <%- include('partials/navbar.ejs') %>
    <%- include('partials/sidebar.ejs') %>

    <div id="main" class="page-content">

        <div id="trending" class="trending">
            <%  var i = 0; %>
            <% for(var deal of deals) { %>
            <% i++; %>
            <div class="card">
                <div class="card__face">

                    <div class="card__picture">
                        <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                            class="deal-photo">
                    </div>

                    <div class="card-text">

                        <h4 class="card__head">
                            Vivo Z1Pro (Sonic Black, 128 GB) (6 GB RAM)
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li class="price"><span class="price_avail"> Rs.3999</span> <strike
                                        class="price_mrp">14999</strike> <span class="price_dis">(70%)</span> </li>
                                <li style="font-weight: 400;"> CouperDeals</li>
                                <li style="font-size: 1.34rem !important;"> 2.6k views <span
                                        style="margin-left: 0.7rem;">3hr ago</span> </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <% if (i === 8){break;}%>
            <% } %>
        </div>

        <div id="hideTrending" class="trending">
            <% var j = 0; %>
            <% for(var deal of deals) { %>
            <% j++; %>

            <% if(j > 8) {%>

            <div class="card">
                <div class="card__face">

                    <div class="card__picture">
                        <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                            class="deal-photo">
                    </div>

                    <div class="card-text">

                        <h4 class="card__head">
                            Vivo Z1Pro (Sonic Black, 128 GB) (6 GB RAM)
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li class="price"><span class="price_avail"> Rs.3999</span> <strike
                                        class="price_mrp">14999</strike> <span class="price_dis">(70%)</span> </li>
                                <li style="font-weight: 400;"> CouperDeals</li>
                                <li style="font-size: 1.34rem !important;"> 2.6k views <span
                                        style="margin-left: 0.7rem;">3hr ago</span> </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
                
            <% } %>
            <% } %>
        </div>

        <div id="showMoreBtn">
            <a href="#trending" class="show-hide-link" id="more" onclick="trendMoreLess()">
                  <i class="fas fa-sort-down font_icon" id="down" style="color: red;margin:0 1.2rem 0 1rem;"></i>
                  <span class="heading-normal"> Show More</span>
            </a>
        </div>

        <div id="showLessBtn">
            <a href="#trending" class="show-hide-link" id="less" onclick="trendMoreLess()">
                  <i class="fas fa-caret-up font_icon" id="up" style="color: red;margin: 0 1.2rem 0 1rem"></i>
                  <span class="heading-normal">Show Less</span>
            </a>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <script type="text/javascript">
        var i = 0;
        function trendMoreLess() {
              if (!i) {
                    document.getElementById("hideTrending").style.display = "flex";
                    document.getElementById("showLessBtn").style.display = "block";
                    document.getElementById("showMoreBtn").style.display = "none";

                    i = 1;
              }
              else {
                    document.getElementById("hideTrending").style.display = "none";
                    document.getElementById("showLessBtn").style.display = "none";
                    document.getElementById("showMoreBtn").style.display = "block";
                    i = 0;
              }
        }
  </script>


</body>

</html>


<!-- <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiliate</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/sass/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">

    
</head>

<body>


    <section class="deal_area" style="float: right !important;">
        <% for(var deal of deals) { %>

        <a href=<%= `/deal/${deal._id}/postedBy/${deal.user}` %>>
            <div class="deal_area_box">
                <div class="bigImg_container">
                    <div class="deal_area_box_img"></div>
                </div>
                <div class="deal_area_content">
                
                    <div class="content_box" style="display: flex;flex-direction: column;justify-content: center;">
                        <div class="deal_box_nameTime"
                            style="display: flex;flex-direction: row;align-items: center;justify-content: center; ">

                            <div class="deal_box_name"><%= deal.dealName %> </div>

                        </div>
                        <div class="deal_box_nameTime" style="display: flex;flex-direction: row;align-items: center; ">

                            <div class="deal_box_views"><%= deal.owner %> </div>
                            <div class="deal_box_time"><%= deal.company %> </div>

                        </div>


                        <div class="deal_box_nameTime" style="display: flex;flex-direction: row ">
                            <div class="deal_box_views"><%=`${deal.dealPrice}rs`%></div>
                            <div class="deal_box_time">80% OFF</div>
                            <div class="deal_box_time"><%=`${deal.mrp}rs`%></div>
                        </div>

                        <div class="deal_box_nameTime" style="display: flex;flex-direction: row">
                            <div class="deal_box_views"><%=`${deal.views} views`%></div>
                            <div class="deal_box_time">
                                <%= deal.time.toLocaleString('en-us',{ month:'long',year:'numeric'})  %></div>
                        </div>
                        <div class="deal_box_description" style="display: flex; flex-direction: row;">
                            <div><%= deal.titleDis %></div>
                        </div>
                    </div>
                </div>

            </div>
        </a>
        <% } %>
    </section>
    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>
</body>

</html> -->