<!DOCTYPE html>
<html>
<title>Affiliate</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
rel="stylesheet"
href="https://unpkg.com/simplebar@latest/dist/simplebar.css"
/>

<link rel="stylesheet" href="/sass/css/style.css">
<link rel="stylesheet" href="/vendor/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css">

<link rel="stylesheet" href="/vendor/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css">
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>



<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162941654-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-162941654-1');
</script>

<body>

    <%- include('partials/navbar.ejs') %>
    <%- include('partials/sidebar.ejs') %>
    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="/images/amazonOffer.jpeg" style="width:100%;height:32rem">
            <!-- <div class="text">Caption Text</div> -->
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/images/amazonOffer.jpeg" style="width:100%;height:32rem">
            <!-- <div class="text">Caption Two</div> -->
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/images/amazonOffer.jpeg" style="width:100%;height:32rem">
            <!-- <div class="text">Caption Three</div> -->
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div class="page-content">

        <div id="trending" class="trending">
            <%  var i = 0; %>
            <% for(var deal of deals) { %>
            <% i++; %>
            <a href=<%= `/deal/${deal._id}/postedBy/${deal.user}` %>>
                <div class="card">
                    <div class="card__face">
                        <div class="card__picture" data-pause="true" data-interval="1000">


                            <div class="carousel-item active" >

                                <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                    class="deal-photo">

                            </div>
                            <div class="carousel-item" >
                                <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                            <div class="carousel-item" >
                                <img src="/images/jeans.jpeg" alt="Deal Photo" class="deal-photo">

                            </div>
                        </div>

                        <div class="card-text">

                            <h4 class="card__head">
                                <%= deal.dealName %> 
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                            class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                    <li style="font-weight: 400;">
                                        <div style="display: inline-block"><%= deal.owner %> </div><br>
                                        <div style="display: inline-block">
                                            <span><%= deal.views %>k views</span>
                                            <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            
                            <select class="three-dots">
                                <!-- <option selected value="empty"></option> -->
                                <option value="report">Report</option>
                                <option value="like">Like</option>
                            </select>

                            <!-- <div id="three-dots" class="three-dots" onclick="report(this)">&#8230</div> -->
                            
                        </div>

                    </div>
                </div>
            </a>

            <% if (i === 8){break;}%>
            <% } %>
        </div>

        <div id="hideTrending" class="trending">
            <% var j = 0; %>
            <% for(var deal of deals) { %>
            <% j++; %>

            <% if(j > 8) {%>
            <div class="card">
                <div class="card__face">
                    <div class="card__picture" data-pause="true" data-interval="1000">


                        <div class="carousel-item active" style="background-color: white !important;">

                            <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                class="deal-photo">

                        </div>
                        <div class="carousel-item" style="background-color: white !important;">
                            <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                alt="Deal Photo" class="deal-photo">

                        </div>
                        <div class="carousel-item" style="background-color: white !important;">
                            <img src="/images/jeans.jpeg" alt="Deal Photo" class="deal-photo">

                        </div>
                    </div>

                    <div class="card-text">

                        <h4 class="card__head">
                            <%= deal.dealName %> 
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                    class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                <li style="font-weight: 400;">
                                    <div style="display: inline-block"><%= deal.owner %> </div><br>
                                    <div style="display: inline-block">
                                        <span><%= deal.views %>k views</span>
                                        <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


            <% } %>
            <% } %>
        </div>

        <div id="showMoreBtn">
            <a href="#trending" class="show-hide-link" id="more" onclick="trendMoreLess()">
                <i class="fas fa-caret-down font_icon" id="down" style="color: red;margin:0 1.2rem 0 1rem;"></i>
                <span class="heading-normal">Show More</span>
            </a>
        </div>
        <div id="showLessBtn">
            <a href="#trending" class="show-hide-link" id="more" onclick="trendMoreLess()">
                <i class="fas fa-caret-up font_icon" id="up" style="color: red;margin:0 1.2rem 0 1rem;"></i>
                <span class="heading-normal">Show Less</span>
            </a>
        </div>

        <div class="news">

            <% for(var i = 0 ; i < 4 ; i++) { %>
            <a href="#">
                <figure>
                    <div class="date"><span class="card-date-day">20</span><span class="card-date-month">APR</span>
                    </div>
                    <figcaption>
                        <h4> <span>The arsonist had oddly shaped feet</span></h4>
                        <p>The magic Indian is a mysterious spiritual force, and we're going to Cathedral Rock, and
                            that's the vortex of the heart.</p>
                    </figcaption>
                </figure>
            </a>
            <% } %>
        </div>

        <div class="main-content">
            <div class="owl-carousel owl-theme">
                <div class="item card">

                    <div class="card__face">
                        <div class="card__picture" data-pause="true" data-interval="1000">


                            <div class="carousel-item active" style="background-color: white !important;">

                                <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                    class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/10-11-years-kidsdnm1100-neon-9-original-imaffzhcn3qdry3k.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                        </div>

                        <div class="card-text">

                            <h4 class="card__head">
                                <%= deal.dealName %> 
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                            class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                    <li style="font-weight: 400;">
                                        <div style="display: inline-block"><%= deal.owner %> </div><br>
                                        <div style="display: inline-block">
                                            <span><%= deal.views %>k views</span>
                                            <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="item card">

                    <div class="card__face">
                        <div class="card__picture" data-pause="true" data-interval="1000">


                            <div class="carousel-item active" style="background-color: white !important;">

                                <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                    class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/10-11-years-kidsdnm1100-neon-9-original-imaffzhcn3qdry3k.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                        </div>

                        <div class="card-text">

                            <h4 class="card__head">
                                <%= deal.dealName %> 
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                            class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                    <li style="font-weight: 400;">
                                        <div style="display: inline-block"><%= deal.owner %> </div><br>
                                        <div style="display: inline-block">
                                            <span><%= deal.views %>k views</span>
                                            <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="item card">

                    <div class="card__face">
                        <div class="card__picture" data-pause="true" data-interval="1000">


                            <div class="carousel-item active" style="background-color: white !important;">

                                <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                    class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/10-11-years-kidsdnm1100-neon-9-original-imaffzhcn3qdry3k.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                        </div>

                        <div class="card-text">

                            <h4 class="card__head">
                                <%= deal.dealName %> 
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                            class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                    <li style="font-weight: 400;">
                                        <div style="display: inline-block"><%= deal.owner %> </div><br>
                                        <div style="display: inline-block">
                                            <span><%= deal.views %>k views</span>
                                            <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="item card">

                    <div class="card__face">
                        <div class="card__picture" data-pause="true" data-interval="1000">


                            <div class="carousel-item active" style="background-color: white !important;">

                                <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                    class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/10-11-years-kidsdnm1100-neon-9-original-imaffzhcn3qdry3k.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                        </div>

                        <div class="card-text">

                            <h4 class="card__head">
                                <%= deal.dealName %> 
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                            class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                    <li style="font-weight: 400;">
                                        <div style="display: inline-block"><%= deal.owner %> </div><br>
                                        <div style="display: inline-block">
                                            <span><%= deal.views %>k views</span>
                                            <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="item card">

                    <div class="card__face">
                        <div class="card__picture" data-pause="true" data-interval="1000">


                            <div class="carousel-item active" style="background-color: white !important;">

                                <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                    class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/10-11-years-kidsdnm1100-neon-9-original-imaffzhcn3qdry3k.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                        </div>

                        <div class="card-text">

                            <h4 class="card__head">
                                <%= deal.dealName %> 
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                            class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                    <li style="font-weight: 400;">
                                        <div style="display: inline-block"><%= deal.owner %> </div><br>
                                        <div style="display: inline-block">
                                            <span><%= deal.views %>k views</span>
                                            <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="item card">

                    <div class="card__face">
                        <div class="card__picture" data-pause="true" data-interval="1000">


                            <div class="carousel-item active" style="background-color: white !important;">

                                <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                    class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/10-11-years-kidsdnm1100-neon-9-original-imaffzhcn3qdry3k.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                        </div>

                        <div class="card-text">

                            <h4 class="card__head">
                                <%= deal.dealName %> 
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                            class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                    <li style="font-weight: 400;">
                                        <div style="display: inline-block"><%= deal.owner %> </div><br>
                                        <div style="display: inline-block">
                                            <span><%= deal.views %>k views</span>
                                            <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="item card">

                    <div class="card__face">
                        <div class="card__picture" data-pause="true" data-interval="1000">


                            <div class="carousel-item active" style="background-color: white !important;">

                                <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                    class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/10-11-years-kidsdnm1100-neon-9-original-imaffzhcn3qdry3k.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                        </div>

                        <div class="card-text">

                            <h4 class="card__head">
                                <%= deal.dealName %> 
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                            class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                    <li style="font-weight: 400;">
                                        <div style="display: inline-block"><%= deal.owner %> </div><br>
                                        <div style="display: inline-block">
                                            <span><%= deal.views %>k views</span>
                                            <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="item card">

                    <div class="card__face">
                        <div class="card__picture" data-pause="true" data-interval="1000">


                            <div class="carousel-item active" style="background-color: white !important;">

                                <img src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg" alt="Deal Photo"
                                    class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                            <div class="carousel-item" style="background-color: white !important;">
                                <img src="/images/10-11-years-kidsdnm1100-neon-9-original-imaffzhcn3qdry3k.jpeg"
                                    alt="Deal Photo" class="deal-photo">

                            </div>
                        </div>

                        <div class="card-text">

                            <h4 class="card__head">
                                <%= deal.dealName %> 
                            </h4>
                            <div class="card__details">
                                <ul>
                                    <li class="price"><span class="price_avail"> Rs.<%= deal.mrp %> </span> <strike
                                            class="price_mrp"><%= deal.dealPrice %> </strike> <span class="price_dis">(70%)</span> </li>
                                    <li style="font-weight: 400;">
                                        <div style="display: inline-block"><%= deal.owner %> </div><br>
                                        <div style="display: inline-block">
                                            <span><%= deal.views %>k views</span>
                                            <span style="margin-left: 0.7rem;"><%= deal.mrp %> hr ago</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>

        <footer class="footer-distributed">

            <h3 style="text-align: center; padding-bottom: 2rem;">Your<span>Deal</span></h3>

            <div class="footer-left">

                <p class="footer-links">
                    <a href="#">&#8226 Home</a>
                    <a href="#">&#8226 About</a>
                    <a href="#">&#8226 FAQ</a>
                    <a href="#">&#8226 Contact</a>
                </p>

                <p class="footer-company-name">YourDeal &copy; 2020</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>21 Revolution Street</span> Delhi, India</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+1 555 123456</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">contact@yourdeal.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span>
                    Your Deal is a spiritual force, and we're going to Cathedral Rock, and that's the vortex of the
                    heart.
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

            </div>

        </footer>
    </div>
    <script>
        console.log('hey');
        function getCookieVal(offset) {
          var endstr = document.cookie.indexOf(";", offset);
          if (endstr == -1) endstr = document.cookie.length;
          return unescape(document.cookie.substring(offset, endstr));
        }
        function GetCookie(name) {
          var arg = name + "=";
          var alen = arg.length;
          var clen = document.cookie.length;
          var i = 0;
          while (i < clen) {
            var j = i + alen;
            if (document.cookie.substring(i, j) == arg) return;
            getCookieVal(j);
            i = document.cookie.indexOf(" ", i) + 1;
            if (i == 0) break;
          }
          return null;
        }
        function SetCookie(name, value) {
          var argv = SetCookie.arguments;
          var argc = SetCookie.arguments.length;
          var expires = 2 < argc ? argv[2] : null;
          var path = 3 < argc ? argv[3] : null;
          var domain = 4 < argc ? argv[4] : null;
          var secure = 5 < argc ? argv[5] : false;
          document.cookie =
            name +
            "=" +
            escape(value) +
            (expires == null ? "" : "; expires=" + expires.toGMTString()) +
            (path == null ? "" : "; path=" + path) +
            (domain == null ? "" : "; domain=" + domain) +
            (secure == true ? "; secure" : "");
        }
        function DisplayInfo() {
          var expdate = new Date();
          var visit;
          expdate.setTime(expdate.getTime() + 24 * 60 * 60 * 1000 * 365);
          if (!(visit = GetCookie("visit"))) visit = 0;
          visit++;
          SetCookie("visit", visit, expdate, "/", null, false);
          var message;
          if (visit == 1) message = " Welcome to my page!";
          if (visit == 2) message = "I see you came back !";
          if (visit == 3) message = " Oh, it's you again!";
          if (visit == 4) message = " You must be curious!";
          if (visit == 5) message = " You're practically a regular!";
          if (visit == 6) message = " You need a hobby!";
          if (visit == 7) message = " Nothing better to do?";
          if (visit == 8) message = " Don't you ever sleep?";
          if (visit == 9) message = " Get a life!!!";
          if (visit >= 10) message = " Rent is due on the 1st of the month!";
          alert(
            "\n" +
              "Your browser has visited this page \n" +
              " " +
              visit +
              "\n" +
              " time(s)." +
              "\n" +
              "\n" +
              message
          );
        }
        function ResetCounts() {
          var expdate = new Date();
          expdate.setTime(expdate.getTime() + 24 * 60 * 60 * 1000 * 365);
          visit = 0;
          SetCookie("visit", visit, expdate, "/", null, false);
          history.go(0);
        }
        window.onload = DisplayInfo();
      </script>
    <script>
        $('.main-content .owl-carousel').owlCarousel({

            loop: false,
            dots: false,

            nav: false,
            navText: [
                '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                '<i class="fa fa-angle-right" aria-hidden="true"></i>'
            ],
            navContainer: '.main-content .custom-nav',
            responsive: {
                0: {
                    items: 4
                },
                500: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });
    </script>

    <script>
        $(".card__picture").on("mouseenter", function () {
            $(this).carousel('cycle');
        }).on("mouseleave", function () {
            $(this).carousel('pause');
        });
    </script>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
   
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <script type="text/javascript">
        var i = 0;
        function trendMoreLess() {
            if (!i) {
                document.getElementById("hideTrending").style.display = "flex";
                document.getElementById("showLessBtn").style.display = "block";
                document.getElementById("showMoreBtn").style.display = "none";

                i = 1;
            }
            else {
                document.getElementById("hideTrending").style.display = "none";
                document.getElementById("showLessBtn").style.display = "none";
                document.getElementById("showMoreBtn").style.display = "block";
                i = 0;
            }
        }
    </script>

<script type="text/javascript">
    var i = 0;
    function report(el){
        
    
    if (!i) {
        el.innerHTML = '&#8230<div class="three-dots-menu"><div class="three-dots-menu-item">Report</div><div class="three-dots-menu-item">Like</div></div>'; i = 1;
    }else{
            el.innerHTML = "&#8230"; i = 0;
    }
    
}

</script>


</body>

</html>


<!-- <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiliate</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/sass/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">

    
</head>

<body>


    <section class="deal_area" style="float: right !important;">
        <% for(var deal of deals) { %>

        <a href=<%= `/deal/${deal._id}/postedBy/${deal.user}` %>>
            <div class="deal_area_box">
                <div class="bigImg_container">
                    <div class="deal_area_box_img"></div>
                </div>
                <div class="deal_area_content">
                
                    <div class="content_box" style="display: flex;flex-direction: column;justify-content: center;">
                        <div class="deal_box_nameTime"
                            style="display: flex;flex-direction: row;align-items: center;justify-content: center; ">

                            <div class="deal_box_name"><%= deal.dealName %> </div>

                        </div>
                        <div class="deal_box_nameTime" style="display: flex;flex-direction: row;align-items: center; ">

                            <div class="deal_box_views"><%= deal.owner %> </div>
                            <div class="deal_box_time"><%= deal.company %> </div>

                        </div>


                        <div class="deal_box_nameTime" style="display: flex;flex-direction: row ">
                            <div class="deal_box_views"><%=`${deal.dealPrice}rs`%></div>
                            <div class="deal_box_time">80% OFF</div>
                            <div class="deal_box_time"><%=`${deal.mrp}rs`%></div>
                        </div>

                        <div class="deal_box_nameTime" style="display: flex;flex-direction: row">
                            <div class="deal_box_views"><%=`${deal.views} views`%></div>
                            <div class="deal_box_time">
                                <%= deal.time.toLocaleString('en-us',{ month:'long',year:'numeric'})  %></div>
                        </div>
                        <div class="deal_box_description" style="display: flex; flex-direction: row;">
                            <div><%= deal.titleDis %></div>
                        </div>
                    </div>
                </div>

            </div>
        </a>
        <% } %>
    </section>
    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }
        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>
</body>

</html> -->