<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Affiliate</title>

    <link rel="stylesheet" href="/sass/css/style.css" />
    <!-- <link rel="shortcut icon" type="image/png" href="sass/img/Black-and-White-Logo-PNG.png"> -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Amaranth"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Signika&display=swap"
      rel="stylesheet"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-162941654-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-162941654-1");
    </script>
  </head>

  <body>
    <%- include('partials/navbar.ejs') %> <%- include('partials/sidebar.ejs') %>

    <section class="deal_area">
      <div class="cover">
        <div class="cover_pic"></div>
      </div>
      <div class="profile_area">
        <div class="profile_area_pic"></div>
        <a href="#" id="subscribe_btn" class="profile_area_subs">
          <h6 class="heading-normal">Subscribe</h6>
        </a>
      </div>
      <div class="page-content">
        <div id="trending" class="trending">
          <% for(var deal of deals) { %>

          <div class="big-deal">
            <div class="big-deal_img" data-pause="true" data-interval="1000">
              <div
                class="carousel-item active"
                style="background-color: white !important;"
              >
                <img
                  src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg"
                  alt="Deal Photo"
                  class="big-deal_picture"
                />
              </div>
              <div
                class="carousel-item"
                style="background-color: white !important;"
              >
                <img
                  src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                  alt="Deal Photo"
                  class="big-deal_picture"
                />
              </div>
              <div
                class="carousel-item"
                style="background-color: white !important;"
              >
                <img
                  src="/images/jeans.jpeg"
                  alt="Deal Photo"
                  class="big-deal_picture"
                />
              </div>
            </div>
            <div class="big-deal_content">
              <div class="big-deal_name">
                <h4><%= deal.dealName %></h4>
              </div>

              <div class="big-deal_buttons">
                <a href="" class="big-deal_user"><%= deal.owner %></a>
              </div>
              <div class="big-deal_vt">
                <p class="big-deal_views"><%= `${deal.views} views` %>  </p>
                <p class="big-deal_time">4 days ago</p>
              </div>

              <div class="big-deal_des">
                <p class="paragraphx">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Facilis rem, natus quam corrupti...
                </p>
              </div>
              <div class="big-deal_price">
                <h4
                  class="heading-normal"
                  style="letter-spacing: 0.2rem;font-size: 2rem"
                >
                  Rs. 4366
                </h4>
              </div>
              <div class="big-deal_dis">
                <strike
                  style="font-size: 1.8rem; color:rgb(82, 80, 80);margin-right: 2rem"
                  >Rs.7854</strike
                >

                <h3 class="big-deal_percent">70% OFF</h3>
              </div>
              <form action="/" method="GET" class=reportx>
                <select class="three-dots" name="dealOps" onchange="dealOperations(this)">
                    <option selected disabled value="empty"></option>
                    <option value=<%= `${deal._id}/report` %>>Report</option>
                    <option value=<%= `${deal._id}/like` %>>Like</option>
                    <% if (user) { %>
                      <% if (user.id == deal.user) { %>
                        <option value=<%= `${deal._id}/edit` %>>Edit</option>
                        <option value=<%= `${deal._id}/delete` %>>Delete</option>
                        <% } %>
                    <% } %>
                   
                </select>
                <a href=<%=`/edit/${deal._id}`%> >Edit</a>
            </form>

            </div>
          </div>
          <% } %>
        </div>
      </div>

      <!-- <% for(var deal of deals) { %>
        <div class="deal_area_box">
            <div class="bigImg_container">
                <div class="deal_area_box_img"></div>
            </div>
            <div class="deal_area_content">
                <div class="content_box" style="display: flex;flex-direction: column;justify-content: center;">
                    <div class="deal_box_nameTime"
                        style="display: flex;flex-direction: row;align-items: center;justify-content: center; ">

                        <div class="deal_box_name"><%= deal.dealName %> </div>

                    </div>
                    <div class="deal_box_nameTime" style="display: flex;flex-direction: row;align-items: center; ">

                        <div class="deal_box_views"><%= deal.owner %> </div>
                        <div class="deal_box_time"><%= deal.company %> </div>

                    </div>


                    <div class="deal_box_nameTime" style="display: flex;flex-direction: row ">
                        <div class="deal_box_views"><%= deal.dealPrice %> rs</div>
                        <div class="deal_box_time">80% OFF</div>
                        <div class="deal_box_time">200rs</div>
                    </div>

                    <div class="deal_box_nameTime" style="display: flex;flex-direction: row">
                        <div class="deal_box_views"><%= deal.views %> views</div>
                        <div class="deal_box_time">3 days ago</div>

                    </div>
                </div>
            </div>
        </div>
        <% } %> -->
    </section>
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script>
      $(".big-deal_img")
        .on("mouseenter", function() {
          $(this).carousel("cycle");
        })
        .on("mouseleave", function() {
          $(this).carousel("pause");
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <script>
      function dealOperations(el){
          el.form.submit();
          window.setTimeout(() => {
                  location.assign('/');
          }, 100);
      }
  </script>
    <script src="/js/subscribe.js"></script>
  </body>
</html>
