<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Affiliate</title>

  <link rel="stylesheet" href="/sass/css/style.css" />
  <!-- <link rel="shortcut icon" type="image/png" href="sass/img/Black-and-White-Logo-PNG.png"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162941654-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-162941654-1");
  </script>
</head>

<body>
  <%- include('partials/navbar.ejs') %> <%- include('partials/sidebar.ejs') %>

  <section class="deal_area">
    <div class="cover">
      <div class="cover_pic">
        <div class="cover_aff-pic">
          <img src="/img/users/default.jpg" alt=" " class="mep_pic-user">
          <div class="mep_pic-user-overlay">
            <a href="#" class="mep_add-icon" title="User Profile">
              <i class="add-icon fas fa-plus"></i>
            </a>
            </div>
        </div>
        <div class="cover_aff-name">Cooper Deals <i class="cover_aff-name-tag fas fa-check-circle"></i></div>
        <div class="cover_aff-subs"><%=`${numSub} subscribers`%></div>

        <!-- <div class="cover_aff-bio">• Add your bio here •</div> -->
        <i class="fas fa-cogs"></i>
        <div class="cover_aff-deals" style="margin-right: -10rem !important"><%= numDeals %> deals</div>
        <!-- <div class="cover_aff-space1">|</div>https://discord.gg/WRdUQD
        <div class="cover_aff-likes">2M views</div> -->
        <!-- <div class="cover_aff-space2">|</div>https://discord.gg/xkkPzX
        <div class="cover_aff-views">2M views</div> -->
        <!-- <div class="cover_aff-space3" style="margin-left: 0">|</div> -->

        <!-- <div ><a class="cover_aff-youtube" href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div ><a class="cover_aff-fb" href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
        <div > <a class="cover_aff-blog" href="#"><i class="fas fa-blog"></i>
          <span>blog</span></a>
        </div> -->
        
   <% if (user) { %>

        <% if (log) { %>
        <a href="" class="deal-deets_subs cover_aff-subs-button-txt cover_aff-unsub-button" id="unsubscribe_btn">Unsubscribe</a>
        <% } else { %>
        <a href="" class="deal-deets_subs cover_aff-subs-button-txt cover_aff-subs-button" id="subscribe_btn">Subscribe</a>
        <% } %>

        <% }else{ %>
        
        <a href="#" id="subscribe_btn_no" class="deal-deets_subs cover_aff-subs-button-txt cover_aff-subs-button">
          <h6 class="cover_aff-cust-button-txt">Subscribe</h6>
        </a>

        <% } %>

        <a href="#" id="customize_btn" class="cover_aff-cust-button">
          <h6 class="cover_aff-cust-button-txt">Customize</h6>
        </a>
      </div>

    </div>
    <!-- <div class="latest-deals">
      <div class="latest-deals-title">Latest Deals</div>
      <% var i = 0%> 
<% for(var deal of deals ) { %>
  
<% if ( deal.user == userId) { %>
  <% i++ %> 
  <a href=<%= `/deal/${deal._id}/postedBy/${deal.user}` %>>
  <div class=<%= `latest-deals-deal${i}` %>>
    <img src=<%= `/img/deals/${deal.titleImg}` %> alt="">

    <div class="deal1-det">
      <div class="deal1-det-name"><%= deal.dealName %></div>

      <div class="deal1-det-price">
        <div class="deal1-det-dp"><%= deal.mrp %></div>
        <div class="deal1-det-mrp"><%= deal.dealPrice %></div>
        <div class="deal1-det-dis">10% off</div>
      </div>
      <div class="deal1-det-views"><%= deal.views %></div>
    </div>
  </a>
  <% if (i === 3){break;}%>
  <% } %>                
<% } %>

</div> -->
    <div class="member-page-content">
      <div id="trending" class="trending" style="padding-top: 9.3rem;">
        <% var j = 0 %> 
        <% for(var deal of deals) { %>
<% if (deal.user == userId) { %>
  <%  function kFormatter(num) {
    return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num);
  } 
  var vui = kFormatter(deal.views);


  var tem = Math.round(deal.time/360000)/10;
  var day = Math.round((tem/2.4))/10;
  %>
 <% j++ %> 
  <a href=<%= `/deal/${deal._id}/postedBy/${deal.user}` %>>
  <div class="mep_deal-box">

    <!-- <div class="big_img_container"> -->
    <div class="mep_deal_box_img" data-pause="true" data-interval="1000">
      <div class="carousel-item active" style="background-color: white !important;">
        <img src=<%= `/img/deals/${deal.titleImg}` %> alt="Deal Photo"
          class="big-deal_pic" />
      </div>
      <!-- <div class="carousel-item" style="background-color: white !important;">
        <img
          src="/img/deals/deal-5f6b8b6f33e4780a88627d08-1600883685161-4.jpeg"
          alt="Deal Photo" class="big-deal_pic" />
      </div>
      <div class="carousel-item" style="background-color: white !important;">
        <img src="/images/jeans.jpeg" alt="Deal Photo" class="big-deal_pic" />
      </div> -->
    </div>
    <!-- </div> -->
    <div class="mep_deal_area-content">
      <div class="mep_deal_content-box" style="display: flex;flex-direction: row;align-items: center; ">
        <div class=" mep_deal-title"><%= deal.dealName %> </div>
      </div>
      <!-- <div class=" mep_deal-title">
          <h4><%= deal.dealName %></h4>
        </div> -->

      <div class="mep_deal-r1" style="display: flex;flex-direction: row;align-items: center; ">
        <!-- <a href="" class="ld_deal-r1-det"><%= deal.owner %></a> -->
        <div class="mep_deal-r1-det"><%= deal.owner %></div>
        <!-- <a href="" class="ld_deal-r1-det">Flipkart</a> -->
        <div class="mep_deal-r1-det"><%= deal.company %></div>
        <% if (tem > 24) { %>
          <div class="mep_deal-r1-det"><%=`${day} day(s)`%></div>
          <% } else if (tem > 1) { %>
          <div class="mep_deal-r1-det"><%=`${tem} hr`%></div>
          <% } else { %>
          <div class="mep_deal-r1-det"><%=`${tem*60} min`%></div>
          <% } %>
        </div>
  
        <div class="mep_deal-r2" style="display: flex;flex-direction: row;align-items: center; ">
          <div class="mep_deal-r2-det"><%= deal.biggerDis %></div>
        </div>
  
  
        <!-- <div class="big-deal_des">
            <p class="paragraphx">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Facilis rem, natus quam corrupti...
            </p>
          </div> -->
  
        <div class="mep_deal-r3" style="display: flex;flex-direction: row ">
          <div class="mep_deal-r3-dp">₹<%= deal.dealPrice %></div>
          <div class="mep_deal-r3-mrp">₹<%= deal.mrp %></div>
          <div class="mep_deal-r3-dis">50% OFF</div>
        </div>
  
        <!-- <div class="big-deal_price">
            <h4
              class="heading-normal"
              style="letter-spacing: 0.2rem;font-size: 2rem"
            >
              Rs. 4366
            </h4>
          </div>
          <div class="big-deal_dis">
            <strike>Rs.7854</strike>
            <h3 class="big-deal_percent">70% OFF</h3>
          </div> -->
  
        <div class="mep_deal-r4" style="display: flex;flex-direction: row">
          <!-- <div class="mep_deal-r4-det"><i class="fas fa-heart"></i>49 likes</div> -->
          <div class="mep_deal-r4-det"><i id="img_mep_deal_views"
              class="far fa-eye"></i><%= `${vui} views` %> </div>
        </div>

      <!-- <div class="big-deal_vt">
          <p class="big-deal_views"><%= `${deal.views} views` %>  </p> -->
      <!-- <p class="big-deal_time">4 days ago</p> -->
      <!-- </div> -->

      <form action="/" method="GET" class=reportx>
        <select class="three-dots" id="big-three-dots" name="dealOps" onchange="dealOperations(this)">
          <option selected disabled value="empty"></option>
          <option value=<%= `${deal._id}/report` %>>Report</option>
          <option value=<%= `${deal._id}/like` %>>Like</option>
          <% if (user) { %>
          <% if (user.id == deal.user) { %>
          <option value=<%= `${deal._id}/edit` %>>Edit</option>
          <option value=<%= `${deal._id}/delete` %>>Delete</option>
          <% } %>
          <% } %>

        </select>
      </form>

    </div>
  </div>
</a>
  
  <% if (j === 30){break;}%>
        <% } %>
        <% } %>
        
      </div>
      <div id="trending" class="trending" style="padding-top: 2.3rem;">
        <% var k = 0 %> 
        <% for(var deal of deals) { %>
<% if (deal.user == userId) { %>
 <% k++ %> 
<% if (k>30) { %>
  <%  function kFormatter(num) {
    return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num);
  } 
  var vui = kFormatter(deal.views);


  var tem = Math.round(deal.time/360000)/10;
  var day = Math.round((tem/2.4))/10;
  %>
  <a href=<%= `/deal/${deal._id}/postedBy/${deal.user}` %>>
  <div class="mep_deal-box">

    <!-- <div class="big_img_container"> -->
    <div class="mep_deal_box_img" data-pause="true" data-interval="1000">
      <div class="carousel-item active" style="background-color: white !important;">
        <img src=<%= `/img/deals/${deal.titleImg}` %> alt="Deal Photo"
          class="big-deal_pic" />
      </div>
      <!-- <div class="carousel-item" style="background-color: white !important;">
        <img
          src="/img/deals/deal-5f6b8b6f33e4780a88627d08-1600883685161-4.jpeg"
          alt="Deal Photo" class="big-deal_pic" />
      </div>
      <div class="carousel-item" style="background-color: white !important;">
        <img src="/images/jeans.jpeg" alt="Deal Photo" class="big-deal_pic" />
      </div> -->
    </div>
    <!-- </div> -->
    <div class="mep_deal_area-content">
      <div class="mep_deal_content-box" style="display: flex;flex-direction: row;align-items: center; ">
        <div class=" mep_deal-title"><%= deal.dealName %> </div>
      </div>
      <!-- <div class=" mep_deal-title">
          <h4><%= deal.dealName %></h4>
        </div> -->

      <div class="mep_deal-r1" style="display: flex;flex-direction: row;align-items: center; ">
        <!-- <a href="" class="ld_deal-r1-det"><%= deal.owner %></a> -->
        <div class="mep_deal-r1-det"><%= deal.owner %></div>
        <!-- <a href="" class="ld_deal-r1-det">Flipkart</a> -->
        <div class="mep_deal-r1-det"><%= deal.company %></div>
        <% if (tem > 24) { %>
        <div class="mep_deal-r1-det"><%=`${day} day(s)`%></div>
        <% } else if (tem > 1) { %>
        <div class="mep_deal-r1-det"><%=`${tem} hr`%></div>
        <% } else { %>
        <div class="mep_deal-r1-det"><%=`${tem*60} min`%></div>
        <% } %>
      </div>

      <div class="mep_deal-r2" style="display: flex;flex-direction: row;align-items: center; ">
        <div class="mep_deal-r2-det"><%= deal.biggerDis %></div>
      </div>


      <!-- <div class="big-deal_des">
          <p class="paragraphx">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Facilis rem, natus quam corrupti...
          </p>
        </div> -->

      <div class="mep_deal-r3" style="display: flex;flex-direction: row ">
        <div class="mep_deal-r3-dp">₹<%= deal.dealPrice %></div>
        <div class="mep_deal-r3-mrp">₹<%= deal.mrp %></div>
        <div class="mep_deal-r3-dis">50% OFF</div>
      </div>

      <!-- <div class="big-deal_price">
          <h4
            class="heading-normal"
            style="letter-spacing: 0.2rem;font-size: 2rem"
          >
            Rs. 4366
          </h4>
        </div>
        <div class="big-deal_dis">
          <strike>Rs.7854</strike>
          <h3 class="big-deal_percent">70% OFF</h3>
        </div> -->

      <div class="mep_deal-r4" style="display: flex;flex-direction: row">
        <!-- <div class="mep_deal-r4-det"><i class="fas fa-heart"></i>49 likes</div> -->
        <div class="mep_deal-r4-det"><i id="img_mep_deal_views"
            class="far fa-eye"></i><%= `${vui} views` %> </div>
      </div>

      <!-- <div class="big-deal_vt">
          <p class="big-deal_views"><%= `${deal.views} views` %>  </p> -->
      <!-- <p class="big-deal_time">4 days ago</p> -->
      <!-- </div> -->

      <form action="/" method="GET" class=reportx>
        <select class="three-dots" id="big-three-dots" name="dealOps" onchange="dealOperations(this)">
          <option selected disabled value="empty"></option>
          <option value=<%= `${deal._id}/report` %>>Report</option>
          <option value=<%= `${deal._id}/like` %>>Like</option>
          <% if (user) { %>
          <% if (user.id == deal.user) { %>
          <option value=<%= `${deal._id}/edit` %>>Edit</option>
          <option value=<%= `${deal._id}/delete` %>>Delete</option>
          <% } %>
          <% } %>

        </select>
      </form>

    </div>
  </div>
</a>
  
<% } %>
        <% } %>
        <% } %>
        
      </div>
    </div>

    <!-- <% for(var deal of deals) { %>
        <div class="deal_area_box">
            <div class="bigImg_container">
                <div class="deal_area_box_img"></div>
            </div>
            <div class="deal_area_content">
                <div class="content_box" style="display: flex;flex-direction: column;justify-content: center;">
                    <div class="deal_box_nameTime"
                        style="display: flex;flex-direction: row;align-items: center;justify-content: center; ">

                        <div class="deal_box_name"><%= deal.dealName %> </div>

                    </div>
                    <div class="deal_box_nameTime" style="display: flex;flex-direction: row;align-items: center; ">

                        <div class="deal_box_views"><%= deal.owner %> </div>
                        <div class="deal_box_time"><%= deal.company %> </div>

                    </div>


                    <div class="deal_box_nameTime" style="display: flex;flex-direction: row ">
                        <div class="deal_box_views"><%= deal.dealPrice %> rs</div>
                        <div class="deal_box_time">80% OFF</div>
                        <div class="deal_box_time">200rs</div>
                    </div>

                    <div class="deal_box_nameTime" style="display: flex;flex-direction: row">
                        <div class="deal_box_views"><%= deal.views %> views</div>
                        <div class="deal_box_time">3 days ago</div>

                    </div>
                </div>
            </div>
        </div>
        <% } %> -->
  </section>

  <div class="popup" id="popupDelete">
    
    <div class="popup_content">


      <div class="popup_left"><img src="/images/32-kjb-1409-dnft-gry-killer-original-imafz9xjgkhguknc.jpeg" alt="hi"
          class="popup_img">
        <!-- <img src="/images/32-kjb-1409-dnft-gry-killer-original-imafz9xjgkhguknc.jpeg" alt="hi" class="popup_img"> -->
      </div>
      <div class="popup_right">
        <div class="popup_cross" id="popup_crossdelete">&times;</div>
        <h1 class="heading-secondary popup_heading center">about us</h1>
        <p class="paragraph popup_paragraph">Thapar Food Festival is the most magnificent and awe-inspiring festivity
          ever happened, one-of-a-kind. Keeping the sky as the limit, we always venture hard to content the ever-growing
          foodie in you. TFF is not just a festival, but also a mission to let food break barriers and make everyone
          happy on a common stage. We are a journey, ever-growing indulging masses in merry-making. Come, experience
          edible infinity.</p>

      </div>

      <button id="delete_btn">Delete</button>
    </div>
  </div>


  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script>
    $(".mep_deal_box_img")
      .on("mouseenter", function () {
        $(this).carousel("cycle");
      })
      .on("mouseleave", function () {
        $(this).carousel("pause");
      });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

  <script>
      function dealOperations(el){
        console.log($(el).val());
        // var dealKiId = $(el).val().split('/')[1];
        // var reporter = $(el).val().split('/')[2];
        // var reportCount = 1;

        if($(el).val().split('/')[1]=="delete"){
            document.getElementById('popupDelete').style.display = 'block';
        }else if($(el).val().split('/')[1]=="edit"){
          var dealwaliid = $(el).val().split('/')[0];
          console.log(dealwaliid);
          window.setTimeout(() => {
                  location.assign(`/edit/${dealwaliid}`);
          }, 100);
        }
        else{
          el.form.submit();
          window.setTimeout(() => {
                  location.assign('/');
          }, 100);
        
        }

        document.getElementById('delete_btn').addEventListener('click', e => {
            document.getElementById('popupDelete').style.display = 'none'; 
            el.form.submit();
            window.setTimeout(() => {
                  location.assign('/');}, 100);
        });

          
      }
  </script>
 <script>
  //   document.getElementById('popup_cross').addEventListener('click', e => {
  //      document.getElementById('popup').style.display = 'none'; 
  //  });
   
   document.getElementById('popup_crossdelete').addEventListener('click', e => {
       document.getElementById('popupDelete').style.display = 'none'; 
   });
</script>

<!-- <script src="/js/subscribe.js"></script> -->
    <script src="/js/subscribe.js"></script>
    <div class="popup" id="popup">
      
  <div class="popup_content">

    <form action="/" method="GET" class="reportx">
      <input type="submit" name="dealOps" onclick="dealOperations(this)" value="delete">

    </form>
    <div class="popup_left"><img src="/images/32-kjb-1409-dnft-gry-killer-original-imafz9xjgkhguknc.jpeg" alt="hi"
        class="popup_img">
      <!-- <img src="/images/32-kjb-1409-dnft-gry-killer-original-imafz9xjgkhguknc.jpeg" alt="hi" class="popup_img"> -->
    </div>
    <div class="popup_right">
      <div class="popup_cross" id="popup_cross">&times;</div>
      <h1 class="heading-secondary popup_heading center">about us</h1>
      <p class="paragraph popup_paragraph">Thapar Food Festival is the most magnificent and awe-inspiring festivity ever
        happened, one-of-a-kind. Keeping the sky as the limit, we always venture hard to content the ever-growing foodie
        in you. TFF is not just a festival, but also a mission to let food break barriers and make everyone happy on a
        common stage. We are a journey, ever-growing indulging masses in merry-making. Come, experience edible infinity.
      </p>

    </div>

    <button id="report_btn">Report</button>
  </div>
  </div>
  <script>document.getElementById('delete_btn').addEventListener('click', e => {
      document.getElementById('popup').style.display = 'none';
    });</script>
</body>

</html>