<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="/sass/css/style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Your Deal</title>
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162941654-1"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-162941654-1');
   </script>
   <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
       integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
       crossorigin="anonymous"></script>

</head>
<%- include('partials/navbar.ejs') %>
<%- include('partials/sidebar.ejs') %>
<body>

  
  

   <div class="page-content">
      

      <div id="searchpage" class="searchpage">
         <!-- <button onclick="sortPrice()" class="sp_button">Sort by mrp</button>
         <button onclick="sortTrend()" class="sp_button">Sort by Trending</button> -->
         <script>
            function sortPrice(){
         var url = window.location.href;    
         if (url.indexOf('?') > -1){
            url += '&sort=mrp'
         }else{
            url += '?param=1'
         }
         window.location.href = url;
}
</script>
<script>
   function sortTrend(){
var url = window.location.href;    
if (url.indexOf('?') > -1){
   url += '&sort=trendRatio'
}else{
   url += '?param=1'
}
window.location.href = url;
}
</script>

            <div class="sp_filter-sorting">
                              
               <div class="sp_cateogry">Category<i class="sp_icon fas fa-caret-down"></i>

                  <div class="sp_category-list">
               <label class="container1">
                  <input type="radio" id="rb" name="radio">Category 1
                  <span class="checkmark"></span>
               </label>
               <label class="container1">
                  <input type="radio" id="rb" name="radio">Category 2
                  <span class="checkmark"></span>
               </label>
               <label class="container1">
                  <input type="radio" id="rb" name="radio">Category 3
                  <span class="checkmark"></span>
               </label>
               <label class="container1">
                  <input type="radio" id="rb"  name="radio">Category 4
                  <span class="checkmark"></span>
               </label>
               <label class="container1">
                  <input type="radio" id="rb" name="radio" >Category 5
                  <span class="checkmark"></span>
               </label>
               <label class="container1">
                  <input type="radio" id="rb" name="radio">Category 6
                  <span class="checkmark"></span>
               </label>
               <label class="container1">
                  <input type="radio" id="rb" name="radio">Category 6
                  <span class="checkmark"></span>
               </label>
               <label class="container1">
                  <input type="radio" id="rb" name="radio">Category 7
                  <span class="checkmark"></span>
               </label>
               <label class="container1">
                  <input type="radio" id="rb" name="radio">Category 8
                  <span class="checkmark"></span>
               </label>
               <label class="container1">
                  <input type="radio" id="rb"  name="radio">Category 8
                  <span class="checkmark"></span>
               </label>

               </div>
               
               </div>


               <div class="sp_sub-category">Sub-Category<i class="sp_icon fas fa-caret-down"></i>

                  <div class="sp_sub-category-list">
                  <label class="container1">
                     <input type="checkbox" id="cb">Sub-Category 1
                     <span class="checkmark"></span>
                  </label>
                  <label class="container1">
                     <input type="checkbox" id="cb">Sub-Category 2
                     <span class="checkmark"></span>
                  </label>
                  <label class="container1">
                     <input type="checkbox" id="cb">Sub-Category 3
                     <span class="checkmark" id="cb"></span>
                  </label>
                  <label class="container1">
                     <input type="checkbox" id="cb">Sub-Category 4
                     <span class="checkmark"></span>
                  </label>
                  <label class="container1">
                     <input type="checkbox" id="cb">Sub-Category 5
                     <span class="checkmark"></span>
                  </label>
                  <label class="container1">
                     <input type="checkbox" id="cb">Sub-Category 6
                     <span class="checkmark"></span>
                  </label>
                  
                  </div>
               </div>
               
               <div class="sp_price">Price<i class="sp_icon fas fa-caret-down"></i>
               
                  <div class="sp_price-list">
                     <label class="container1">
                        <input type="checkbox" id="cb">₹100-₹200
                        <span class="checkmark"></span>
                     </label>
                     <label class="container1">
                        <input type="checkbox" id="cb">₹201-₹500
                        <span class="checkmark"></span>
                     </label>
                     <label class="container1">
                        <input type="checkbox" id="cb">₹501-₹1000
                        <span class="checkmark" id="cb"></span>
                     </label>
                     <label class="container1">
                        <input type="checkbox" id="cb">₹1001-₹5000
                        <span class="checkmark"></span>
                     </label>
                     <label class="container1">
                        <input type="checkbox" id="cb">Over ₹5001
                        <span class="checkmark"></span>
                     </label>
                     
                     
                     </div>
               </div>
               
               <div class="sp_price_box price_input-boxes">
                  <div class="input-number price-min">
                     <input id="price-min" type="text">
                     <!-- <span class="qty-up">+</span>
                     <span class="qty-down">-</span> -->
                  </div>
                  <span>-</span>
                  <div class="input-number price-max">
                     <input id="price-max" type="text">
                     <!-- <span class="qty-up">+</span>
                     <span class="qty-down">-</span> -->
                  </div>
            </div>




            <div class="sp_cust-rat">Customer Ratings<i class="sp_icon fas fa-caret-down"></i>
            <div class="sp_cust-rat-list">

               <a href="#">
                  <div class="ratings-icon-dp">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="far fa-star"></i>
                     
                     </div>
                     <span class="ld_rating-text">& Up</span>
               </a>
               <a href="#">
                  <div class="ratings-icon-dp">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     
                     </div>
                     <span class="ld_rating-text">& Up</span>
               </a>
               <a href="#">
                  <div class="ratings-icon-dp">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     
                     </div>
                     <span class="ld_rating-text">& Up</span>
               </a>
               <a href="#">
                  <div class="ratings-icon-dp">
                     <i class="fas fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     <i class="far fa-star"></i>
                     </div>
                     <span class="ld_rating-text">& Up</span>
               </a>


            </div>
            </div>

            </div>

         <%  var i = 0; %>
         <% for(var deal of deals) { %>
         <% i++; %>
         <a href=<%= `/deal/${deal._id}/postedBy/${deal.user}` %>> 
            <!-- <div class="big-deal"> -->
        

               <div class="sp_deal-box">
               <div class="big-deal_img" data-pause="true" data-interval="1000">
                  <div
                  class="carousel-item active"
                  style="background-color: white !important;"
                  >
                  <img
                     src="/images/acer-na-gaming-laptop-original-imafj5dpnuuy2dvd.jpeg"
                     alt="Deal Photo"
                     class="big-deal_picture"
                  >
                  </div>
                  <div
                  class="carousel-item"
                  style="background-color: white !important;"
                  >
                  <img
                     src="/images/durex-400-play-massage-gel-2-in-1-sensual-stimulating-combo-original-imaey2yuygdhkamq.jpeg"
                     alt="Deal Photo"
                     class="big-deal_picture"
                  >
                  </div>
                  <div
                  class="carousel-item"
                  style="background-color: white !important;"
                  >
                  <img
                     src="/images/jeans.jpeg"
                     alt="Deal Photo"
                     class="big-deal_picture"
                  >
                  </div>
               </div>
               <!-- <div class="big-deal_content"> -->
                  <div class="sp_deal_area-content">
                     <div class="sp_deal_content-box" style="display: flex;flex-direction: row;align-items: center; ">
                        <div class=" sp_deal-title"><%= deal.dealName %> </div>
                      </div>
                  <!-- <div class="big-deal_name">
                  <h4><%= deal.dealName %> </h4>
                  </div> -->

                  <div class="sp_deal-r1" style="display: flex;flex-direction: row;align-items: center; ">
                     <!-- <a href="" class="ld_deal-r1-det"><%= deal.owner %></a> -->
                     <div class="sp_deal-r1-det"><%= deal.owner %> </div>
                     <!-- <a href="" class="ld_deal-r1-det">Flipkart</a> -->
                     <div class="sp_deal-r1-det">Flipkart</div>
                     <div class="sp_deal-r1-det">May 2020</div>
                   </div>

                  <!-- <div class="big-deal_buttons">
                  <div class="big-deal_user"><%= deal.owner %> </div>
                  </div> -->

                  <div class="sp_deal-r2" style="display: flex;flex-direction: row;align-items: center; ">
                     <div class="sp_deal-r2-det">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
                   </div>

                   <div class="sp_deal-r3" style="display: flex;flex-direction: row ">
                     <div class="sp_deal-r3-dp">₹<%= deal.dealPrice %></div>
                     <div class="sp_deal-r3-mrp"><%= deal.mrp %> </div>
                     <div class="sp_deal-r3-dis">50% OFF</div>
                   </div>

                   <div class="sp_deal-r4" style="display: flex;flex-direction: row">
                     <div class="sp_deal-r4-det"><i class="fas fa-heart"></i>49 likes</div>
                     <div class="sp_deal-r4-det"><i id="img_sp_deal_views"
                         class="far fa-eye"></i><%= deal.views %> </div>
                   </div>

                  <!-- <div class="big-deal_vt">
                  <p class="big-deal_views"><%= deal.views %>  views</p>
                  <p class="big-deal_time"><%= deal.mrp %> days ago</p>
                  </div> -->

                  <!-- <div class="big-deal_des">
                  <p class="paragraphx">
                     <%= deal.titleDis %> 
                  </p>
                  </div> -->
                  <!-- <div class="big-deal_price">
                  <h4
                     class="heading-normal"
                     style="letter-spacing: 0.2rem;font-size: 2rem"
                  >
                     Rs.<%= deal.mrp %> 
                  </h4>
                  </div> -->
                  <!-- <div class="big-deal_dis">
                  <strike
                     style="font-size: 1.8rem; color:rgb(82, 80, 80);margin-right: 2rem"
                     >Rs.<%= deal.dealPrice %> </strike
                  >

                  <h3 class="big-deal_percent">70% OFF</h3>
                  </div> -->
               </div>
            </div>
        </a>
        <% if (i === 20){break;}%>
        <% } %>
        </div>
    </div>

    <script>
      $(".big-deal_img")
        .on("mouseenter", function() {
          $(this).carousel("cycle");
        })
        .on("mouseleave", function() {
          $(this).carousel("pause");
        });
    </script>

</body>
</html>